%p  
  %b= "Curso:"
  #{@curso}
  %br
  %b= "Nivel:" 
  #{@nivel}
  %br
  %b= "Horario:"
  #{@horario}
  %br
  %b= "Sección:" 
  #{@seccion}
  %br
- if session[:idioma_id] != "IN"
  =colocar_tabla(@usuarios,@historiales,false)
- else
  =colocar_tabla_ingles(@usuarios,@historiales,false)
%br
=link_to "Obtener constancia de calificación" , :action => "generar_pdf"#:action => "buscar_estudiantes", :saltar => 1

