%table.tablesorter.liker
  %thead
    %tr
      %th{:width => "15%"}
        Idioma
      %th{:width => "13%"}
        Nivel
      %th{:width => "5%"}
        Sección
      %th{:width => "15%"}
        Aula
      %th{:width => "15%"}
        Horarios
      %th{:width => "15%"}
        Instructor
      %th{:width => "10%"}
        Convenio
      %th{:width => "12%"}
        Estado
      %th{:width => "30%"}
        Opciones
  %tbody
    -@historial_actual.each do |h|
      -session[:tipo_curso]="#{h.tipo_curso.id}"
      %tr
        %td
          =h.tipo_curso.descripcion
        %td
          =h.tipo_nivel.descripcion
        %td
          ="#{"%002i"%h.seccion_numero}"
        %td
          - if h.seccion.aula
            =h.seccion.aula_corta
          - else
            No Asignada
        %td
          =h.seccion.horario
        %td
          - if h.seccion.instructor
            =h.seccion.instructor.descripcion
          - else
            No Asignado
        %td
          =h.tipo_convenio.descripcion
        %td
          =h.tipo_estado_inscripcion.descripcion
        %td

          -if h.tipo_estado_inscripcion_id=="PRE"
            
            =link_to_modal "Confirmar",{:action => "confirmar_inscripcion",:title =>"Confirmar Inscripcion",:width=>600, :params=>{:idioma_id=>"#{h.idioma_id}", :tipo_categoria_id=>"#{h.tipo_categoria_id}", :usuario_ci=>"#{h.usuario_ci}"}}
          -else
            Confirmar
          %br/
          =link_to_modal "Modificar_seccion",{:action => "cambiar_seccion",:title =>"Modificar Seccion",:width=>600, :params=>{:idioma_id=>"#{h.idioma_id}", :tipo_categoria_id=>"#{h.tipo_categoria_id}", :usuario_ci=>"#{h.usuario_ci}"}}
          %br/
          =link_to_modal "Eliminar",{:action => "confirmar_eliminar",:title =>"Confirmar Eliminación",:width=>500, :params=>{:idioma_id=>"#{h.idioma_id}", :tipo_categoria_id=>"#{h.tipo_categoria_id}", :usuario_ci=>"#{h.usuario_ci}"}}
          %br/
          =link_to "Planilla", :action => "planilla_inscripcion", :controller => "inscripcion_admin", :historial => h.id.to_s
          %br/
          = link_to_modal "Generar_constancia_estudio", {:action => "remitente",:title =>"Generar Constancia de Estudio",:width=>600, :params=>{:tipo_curso => h.tipo_curso}}
          %br/
          = link_to_modal "Congelar",{:action => "confirmar_congelar_curso",:title =>"Confirmar Eliminación",:width=>500, :params=>{:idioma_id=>"#{h.idioma_id}", :tipo_categoria_id=>"#{h.tipo_categoria_id}", :usuario_ci=>"#{h.usuario_ci}"}}
          
