%p
  Participante:
  %b= @usuario.descripcion

#accordionMenu.accordion
  .accordion-group
    .nav-header
      %a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "#collapseDatosPersonales"}
        .nav-header
          Datos Personales y de contacto
    #collapseDatosPersonales.accordion-body.collapse
      .accordion-inner
        %dl.dl-horizontal
          %p
            %dt Cédula de Identidad:
            %dd
              = @usuario.ci
          %p
            %dt Nombre:
            %dd
              = @usuario.nombre_completo
          %p
            %dt Lugar y fecha de Nacimiento:
            %dd
              = @usuario.lugar_nacimiento
              = @usuario.fecha_nacimiento
          %p
            %dt Números Telefónicos:
            %dd
              = @usuario.telefono_habitacion
              = "/ #{@usuario.telefono_movil}" if @usuario.telefono_movil
          %p
            %dt Direcciones de Correo:
            %dd
              = @usuario.correo
              = "/ #{@usuario.correo_alternativo}" if @usuario.correo_alternativo 
  .accordion-group
    .nav-header
      %a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "#collapseOtrosDatos"}
        .nav-header
          Datos Laborales y Académicos
    #collapseOtrosDatos.accordion-body.collapse
      .accordion-inner
        %dl.dl-horizontal
          %p
            %dt Bachiller en:
            %dd
              = @usuario.datos_estudiante.titulo_estudio
          %p
            %dt Título Universitario:
            %dd
              = @usuario.datos_estudiante.titulo_estudio_concluido 
              = @usuario.datos_estudiante.institucion_estudio_concluido
              = @usuario.datos_estudiante.ano_estudio_concluido


          %p
            %dt ¿Trabaja?:
            %dd
              = @usuario.datos_estudiante.trabaja ? "Sí" : "No"
          %p
            %dt Ocupación:
            %dd
              = @usuario.datos_estudiante.ocupacion
          %p
            %dt Institución:
            %dd
              = @usuario.datos_estudiante.institucion
          %p
            %dt Dirección Laboral:
            %dd
              = @usuario.datos_estudiante.direccion_de_trabajo


  .accordion-group
    .nav-header
      %a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "#collapseDiplomados"}
        .nav-header
          Diplomados inscritos
    #collapseDiplomados.accordion-body.collapse
      .accordion-inner
        %dl.dl-horizontal
          %table.table.table-striped.table-hover.table-condensed.table-bordered
            %thead
              %table-bordered
                %th Diplomado
                %th Estado
                / %th Calificación
                %th Opciones
            -@inscripciones.each do |inscripcion|
              %tdody
                %tr
                  %td
                    = inscripcion.diplomado_cohorte.diplomado.descripcion_completa
                    = inscripcion.diplomado_cohorte.cohorte_id

                  %td
                    %span.label.label-inverse
                      = inscripcion.tipo_estado_inscripcion.nombre
                  /
                    %td
                      %span.label.label-inverse
                        = #inscripcion.calificacion.blank? ? "Sin Calificar" : inscripcion.calificacion  
                  %td
                    = link_to "Descargar planilla preinscripción", :action => "descargar_planilla", :id => @usuario.ci
                    |
                    = link_to_if (inscripcion.tipo_estado_inscripcion_id.eql?'INS'), "Descargar planilla Inscripción", {:controller => "inscripcion", :action => "planilla_inscripcion", :inscripcion_id => inscripcion.id}
                    |
                    = link_to_if false, "Descargar Certificado"



%p 
  =link_to "< Buscar otro estudiante", :action => "index"
%br/
