=#link_to 'Registrar Nuevo Profesor', {controller: 'cal_profesor', action: 'nuevo'}, class: 'btn btn-mini'
=#link_to 'Registrar Nuevo Estudiante', {controller: 'cal_estudiante', action: 'nuevo'}, class: 'btn btn-mini'

%table.table.tablesorter.tablefilter.likert
  %thead
    %tr
      %th No.
      %th.span3 Roles
      %th Plan
      %th.span4 Nombre y Apellido
      %th Cédula
      - if @super_user 
        %th Contraseña
      %th Correo Electrónico
      %th Móvil
      %th Opciones
  %tbody
    -@usuarios.each_with_index do |u,i|
      %tr
        %td=i+1
        %td
          = u.roles
          = "(#{u.cal_profesor.cal_departamento.descripcion})" if u.cal_profesor
        %td
          - if u.cal_estudiante and u.cal_estudiante.ultimo_plan #and u.cal_estudiante.planes.last
            = u.cal_estudiante.ultimo_plan  
          - else
            = "--"

        %td= link_to u.nombre_completo, {controller: 'cal_principal_admin', action: 'detalle_usuario', :ci => u.ci}
        %td=u.ci
        - if @super_user 
          %td=u.contrasena
        %td=u.correo_electronico
        %td= u.telefono_movil

        - if @super_user

          %td

            %b.tooltip-btn{'data_toggle'=>'tooltip', title: "Descargar Kardex"}
              = link_to({controller: 'cal_descargar', action: 'kardex', id: u.id}, {class: 'btn btn-mini'}) do
                %i.icon-download-alt.icon-white
                Kardex
          %td
            %b.tooltip-btn{'data_toggle'=>'tooltip', title: "Resetear Contraseña"}
              = link_to({controller: 'cal_usuario', action: 'resetear_contrasena', ci: u.id}, {:data => {:confirm => 'Esta acción asignará la cédula de identidad como contraseña, ¿está de acuerdo?'}, class: 'btn btn-mini'}) do
                %i.icon-lock.icon-white
                %i.icon-repeat.icon-white