/ -if session[:parametros][:inscripcion_abierta] == "SI" && !@preinscrito 
/   -if session[:parametros][:inscripcion_modo_ninos]=="NO" || session[:tipo_curso].tipo_categoria_id == "NI"
/     %h3
/       =link_to "Confirmar Inscripción", action: "paso1", controller: "inscripcion"
/     %div.titulo Preinscribirse en el periodo #{session[:parametros][:periodo_inscripcion]}
/ %h3
/   =link_to "Consultar Historial de Cursos", action: "cursos", controller: "estudiante"
/ %div.titulo Consulta el listado de tus Cursos Realizados

%h6
	%b Estudiante:
	= @estudiante.usuario.descripcion

%h6= "Cohorte Actual: #{@cohorte_actual.descripcion}"

%table.table.table-striped.table-hover.table-condensed.table-bordered
	%thead
		%table-bordered
			%th Diplomado
			%th Estado
			%th Opciones
	-@diplomados_ofertados.each do |oferta|
		%tdody
			%tr
				%td= oferta.diplomado.descripcion_completa
				-inscripcion = @inscripciones.where(:diplomado_id => oferta.diplomado_id, :cohorte_id => oferta.cohorte_id).limit(1).first
				%td
					%span.label.label-inverse
						= inscripcion.blank? ? "Ofertado" : inscripcion.tipo_estado_inscripcion.nombre

				%td
					-if ParametroGeneral.inscripcion_abierta and inscripcion and inscripcion.tipo_estado_inscripcion_id.eql? "APR"
						= link_to "Descargar planilla Inscripción", {controller: "inscripcion", action: "planilla_inscripcion", :inscripcion_id => inscripcion.id}

					-elsif ParametroGeneral.preinscripcion_abierta
						%td= link_to "Preinscribir #{oferta.diplomado.id}", {action: "paso0", controller: "inscripcion", :diplomado => oferta.diplomado_id}, class: "btn btn-primary btn-mini"
