.tab-pane{class: @mat_activa, id: "mat_#{@mat.id}"}
	%b Seleccione la Sección:
	- if @secciones.count > 0
		%table.table.table-bordered.table-striped.table-condensed.table-hover
			%thead
				%tr
					%th Sec.
					%th Profesor Tutor (Calificador)
					%th Estado
					%th= borrar_seleccion_link @mat.id

			%tbody{id: @mat.id}
				- @secciones.each do |seccion|
					- volumen = seccion.capacidad - seccion.total_estudiantes

					- @clase = 'warning' if volumen > 0 and volumen < 3
					- @clase = 'error' if volumen <= 0
					- @clase = 'success' if volumen >= 3
					%tr{class: @clase}
						%td= seccion.numero
						%td= seccion.descripcion_profesor_asignado
						%td
							%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Capacidad'}
								%span.label= seccion.capacidad
							= "/"
							%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Inscritos'}		
								%span.label= seccion.total_estudiantes
						%td.text-center= radio_button_tag "[secciones][#{seccion.cal_materia_id}]", seccion.numero, false, class: seccion.cal_materia_id, onclick: "agregar_a_seleccion('#{seccion.cal_materia_id}','#{seccion.numero}')"
			

