%i.muted
	%b.tooltip-btn{'data_toggle'=>'tooltip', title: "Ir al detalle del usuario"}
		= link_to({controller: 'cal_principal_admin', action: 'detalle_usuario', ci: @estudiante.id}, class: 'btn btn-default btn-small') do
			%i.icon-plus.icon-white
			Detalle
	= "#{@estudiante.descripcion}:"
%br
%br

= form_tag({controller: 'cal_estudiante_seccion',action: 'inscribir'} ) do
	=hidden_field_tag :ci, @estudiante.cal_usuario_ci
	.well.well-small{style: 'max-height: 350px;overflow-y: scroll;'}
		.tabbable.tabs-left
			%ul.nav.nav-tabs
				%p Seleccione el Departamento:
				- @departamentos.each_with_index do |dep,i|
					- dpto_activo = (session[:dpto_id].eql? dep.id) ? "active" : ""
					%li{class: dpto_activo}
						= link_to dep.descripcion, "#dep_#{dep.id}", "data-toggle"=> "tab", onclick: "$.ajax({url: '/sirneim/cal_principal_admin/set_tab', data: {dpto_id: '#{dep.id}'}, dataType: 'json'});"

			.tab-content
				- @departamentos.each_with_index do |dep,i|
					- dpto_activo = (session[:dpto_id].eql? dep.id) ? "active" : ""
					.tab-pane{class: dpto_activo, id: "dep_#{dep.id}"}

						-# @catedras = dep.cal_departamentos_categorias.sort_by{|cate| cate.orden}
						- @catedras = dep.cal_categorias.order('orden ASC')
						.tabbable.tabs-left
							%ul.nav.nav-tabs
								%p Seleccione la Cátedra:
								- @catedras.each_with_index do |cat,j|
									- cat_activa = (session[:cat_id].eql? cat.id) ? "active" : ""

									%li{class: cat_activa}
										= link_to cat.descripcion, "#cat_#{dep.id}_#{cat.id}", "data-toggle"=> "tab", onclick: "$.ajax({url: '/sirneim/cal_principal_admin/set_tab', data: {cat_id: '#{cat.id}'}, dataType: 'json'});"

							.tab-content
								- @catedras.each_with_index do |cat,j|
									- cat_activa = (session[:cat_id].eql? cat.id) ? "active" : ""

									.tab-pane{class: cat_activa, id: "cat_#{dep.id}_#{cat.id}"}

										- @materias = cat.cal_materias.where(:cal_departamento_id => dep.id).sort_by{|m| m.orden}
										.tabbable.tabs-left
											%ul.nav.nav-tabs
												%p Seleccione la Asignatura:
												- @materias.each_with_index do |mat,k|

													- if mat.cal_secciones.where(:cal_semestre_id => @cal_semestre_actual_id).count > 0
														- mat_activa = (session[:mat_id].eql? mat.id) ? "active" : ""
													
														%li{class: mat_activa}
															= link_to "#mat_#{mat.id}", "data-toggle"=> "tab", onclick: "$.ajax({url: '/sirneim/cal_principal_admin/set_tab', data: {mat_id: '#{mat.id}'}, dataType: 'json'});" do
																= mat.descripcion
																%span.badge.badge-inverse= mat.id_upsi

											.tab-content
												- @materias.each_with_index do |mat,k|
													- @secciones = mat.cal_secciones.where(:cal_semestre_id => @cal_semestre_actual_id)
													- if @secciones.count > 0
														- @mat_activa = (session[:mat_id].eql? mat.id) ? "active" : ""

														- @mat = mat
														= render 'cal_estudiante_seccion/detalle_inscripcion'

	.well.well-small.hide#seleccion
		%h6.titulo Selección:
		=# render partial: 'cal_estudiante_seccion/tabla_selecciones', collection: @secciones_disponibles, locals: {borrar_seleccion: true}
		= render partial: 'cal_estudiante_seccion/tabla_selecciones', locals: {secciones: @secciones_disponibles, borrar_seleccion: true}

		%div{style: 'max-width: 400px; margin: 0 auto 10px;'}= submit_tag 'Confirmar', class: 'btn btn-large btn-block btn-primary', 'data-confirm' => '¿Confirma que desea completar la inscripción?', disabled: true, id: 'btn-confirmacion'
	- if @inscripciones.count > 0
		.well.well-small
			Inscritas:
			%table.table.table-bordered.table-striped.table-condensed.table-hover
				%thead
					%tr
						%th Departamento
						%th Cátedra
						%th Sección
						%th Período
				%tbody
					- @inscripciones.each do |ins| 
						%tr
							%td= ins.cal_seccion.cal_materia.cal_departamento.descripcion
							%td= ins.cal_seccion.cal_materia.cal_categoria.descripcion
							%td= ins.cal_seccion.descripcion
							%td= ins.cal_semestre_id
:javascript
	function chequear_total_seleccionados(){
		var total = $('input:radio:checked').length
		if(total > 0){
			$('#btn-confirmacion').removeAttr("disabled");
			$('#seleccion').show();

		}else{
			$('#btn-confirmacion').attr("disabled", "disabled");
			$('#seleccion').hide();
		}

	};


	function borrar_seleccion(materia_id) {
		$('.'+materia_id).prop('checked', false);
		$('.sel_'+materia_id).hide();
		chequear_total_seleccionados();
	};
	function agregar_a_seleccion(materia_id,seccion_numero) {
		$('.sel_'+materia_id).hide();
		$('#sel_'+materia_id+'_'+seccion_numero).show();
		chequear_total_seleccionados();
	};


