-if @diplomados_cohortes.count > 0
	%ul.nav.nav-list
		%li.nav-header
			%h4= "Diplomados para la Cohorte: #{@diplomados_cohortes.first.cohorte.descripcion}"
		-@diplomados_cohortes.each do |diplomado_cohorte|
			%li  
				= link_to "/aceim_diplomados/cohorte_tema/nuevo/#{diplomado_cohorte.id}" do
					= diplomado_cohorte.diplomado.descripcion_completa
					%i.icon-forward

-else
	%h4 No se han agregado Diplomados en este Cohorte
%br
= link_to "diplomado_cohorte/nuevo", {:class => 'btn btn-primary'} do
	%i.icon-plus.icon-white
	Agregar Diplomados a esta Cohorte