=form_tag "/aceim_diplomados/docentes/#{@accion}", :class => "form-horizontal" do 
  -if @usuario.errors.any?
    %ul
      -flash[:alert] = ""
      -@usuario.errors.full_messages.each do |msg|
        -flash[:alert] += "#{msg}\n"
  -if @docente.errors.any?
    %ul
      -flash[:alert] = ""
      -@docente.errors.full_messages.each do |msg|
        -flash[:alert] += "#{msg}\n"


  %fieldset
    %legend Datos Personales
    .control-group
      %label.control-label
        Cédula de Identidad:
      .controls
        =text_field :usuario, :ci, :autofocus => "true", :placeholder => "Identificación…", :required => true, :class => "input-medium", :readonly => (@accion.eql? "actualizar")
        = link_to "", { :role => 'button', :class => 'btn btn-mini', :data => {:toggle => 'modal'}, :onclick => "return $('#modificar_ci').modal();"} do
          = content_tag(:i, "", :class => "icon-edit")
          Modificar Cédula
        %span.help-block
          Ejemplo: 12345678


    .control-group
      %label.control-label
        Nombres:
      .controls
        =text_field :usuario, :nombres, :placeholder => "Nombre…", :required => true
        %span.help-block
          Ejemplo: María

    .control-group
      %label.control-label
        Apellidos:
      .controls
        =text_field :usuario, :apellidos, :placeholder => "Apellido…", :required => true
        %span.help-block
          Ejemplo: Torres

    .control-group
      %label.control-label
        Lugar de nacimiento:
      .controls
        =text_field :usuario, :lugar_nacimiento, :placeholder => "Lugar de Nacimiento…", :required => true
        %span.help-block
          Ejemplo: Caracas

    .control-group
      %label.control-label
        Fecha de nacimiento:
      .controls
        =date_select :usuario, :fecha_nacimiento, {:placeholder => "Fecha de Nacimiento…", :start_year => 1950}, {:required => true, :class => 'span1'}

    .control-group
      %label.control-label
        Sexo:
      .controls
        %label.checkbox
          =radio_button :usuario, :tipo_sexo_id, "M", :required => true
          Masculino
          |
          =radio_button :usuario, :tipo_sexo_id, "F", :required => true
          Femenino


  %fieldset
    %legend Datos de Contacto

    .control-group
      %label.control-label
        Teléfono habitación
      .controls
        =telephone_field :usuario, :telefono_habitacion, :placeholder => "Teléfono de Habitación…"
        %span.help-block
          Ejemplo: 0212-5551122

    .control-group
      %label.control-label
        Teléfono celular
      .controls
        =telephone_field :usuario, :telefono_movil, :placeholder => "Celular…", :required => true
        %span.help-block
          Ejemplo: 0414-2391212

    .control-group
      %label.control-label
        Correo electrónico
      .controls
        =text_field :usuario, :correo, :placeholder => "Correo Electrónico…", :required => true
        %span.help-block
          Ejemplo: maria@gmail.com

    .control-group
      %label.control-label
        Correo electrónico (alternativo)
      .controls
        =text_field :usuario, :correo_alternativo, :placeholder => "Correo Alternativo…", :required => true
        %span.help-block
          Ejemplo: maria2@gmail.com

    .control-group
      %label.control-label
        Dirección de domicilio
      .controls
        =text_area :usuario, :direccion, :rows => 4, :placeholder => "Domicilio…", :required => true
        %span.help-block
          Ejemplo: Avenida A, con calle B. Los Naranjos.

  %fieldset
    %legend Experiencia

    .control-group
      %label.control-label
        Experiencia
      .controls
        =text_area :docente, :experiencia, :rows => 4, :placeholder => "Experiencia…"
        %span.help-block


    - unless @accion.blank?
      - @submit = "Siguiente"
    - else
      - @submit = "Registrar"
    =submit_tag @submit, :class => "btn btn-primary" #, :confirm => "¿Está seguro de enviar los datos?"


#modificar_ci.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close.fade{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Modificar Cédula de Identidad
  .modal-body
    =form_tag "/aceim_diplomados/docentes/modificar_ci/#{@usuario.ci}", :class => "form-horizontal" do 
      .control-group
        %label.control-label{:for => "nueva_ci"} Cédula Nueva:
        .controls
          =number_field_tag :nueva_ci, nil, :autofocus => true, :required => true, :placeholder => "Nueva Cédula"
      .control-group
        %label.control-label{:for => "repetir_ci"} Repetir Cédula:
        .controls
          =number_field_tag :repetir_ci, nil, :autofocus => true, :required => true, :placeholder => "Reperir Cédula"
      .form-actions
        %input.btn.btn-primary{"data-disable-with" => "Por favor espere...", :name => "commit", :type => "submit", :value => "Guardar"}
          %a.btn{"data-dismiss" => "modal", :href => ""} Cancelar 
