
%br
= link_to 'Nuevo Docente', {action: "nuevo"}, class: "btn btn-primary"
%br
%br
%table.table.table-striped.table-hover.table-condensed.table-bordered
  %thead
    %th #
    %th Nombre Completo
    %th Módulo
    %th Opciones

  -@docentes.each_with_index do |docente,i|
    %tbody
      %tr
        %td= i
        %td= docente.usuario.descripcion if docente.usuario
        %td
          - docente.cohorte_tema.where(:cohorte_id => Cohorte.actual).each do |ct|
            .div
              ="#{ct.tema.descripcion_completa} - Grupo #{ct.grupo}"
        %td
          =# link_to 'Detalle', action: "vista"
          = link_to 'Editar', action: "editar", id: docente.usuario_ci
          =# link_to 'Eliminar', action: "eliminar", id: docente.usuario_ci, :confirm => 'Are you sure?', :method => :delete
%br

= link_to 'Nuevo Docente', {action: "nuevo"}, class: "btn btn-primary"
