
%br
= link_to 'Nuevo Docente', new_docente_path, :class => "btn btn-primary"
%br
%br
%table.table.table-striped.table-hover.table-condensed.table-bordered
  %thead
    %th #
    %th Nombre Completo
    %th Opciones

  -@docentes.each_with_index do |docente,i|
    %tbody
      %tr
        %td= i
        %td= docente.usuario.nombre_completo if docente.usuario
        %td
          = link_to 'Show', docente
          = link_to 'Edit', edit_docente_path(docente)
          = link_to 'Destroy', docente, :confirm => 'Are you sure?', :method => :delete
%br

= link_to 'Nuevo Docente', new_docente_path, :class => "btn btn-primary"
