=link_to "Descargar listado (Excel)", {controller: 'cal_descargar', action: 'listado_seccion', id: @cal_seccion.id}, class: "btn btn-success pull-righ"


- calificada = @cal_seccion.calificada

- calificada = false if @admin

- calificada = true if (@admin and @admin.cal_tipo_admin_id.eql? 3)

- calificada = true if @secundaria
	 
- @es_semestre1 = true

- @es_semestre2 = false

- @es_semestre3 = false

%p#text
%h5
	- if @cal_seccion.cal_semestre_id.eql? '2016-02A'
		= "Inscritos: #{@cal_seccion.total_estudiantes} / Confirmados: #{@cal_seccion.total_confirmados}"
	- else
		= "Total de Estudiantes: #{@estudiantes_secciones.count}"
= form_tag(controller: 'cal_calificar', action: "calificar") do
	= hidden_field_tag "id", @cal_seccion.id

	- if @cal_seccion.numero.eql? 'R' or @cal_seccion.numero.eql? 'S'

		%table.table.table-bordered.table-striped.table-condensed.table-hover{style: "text-align:left;"}
			%thead			
				%tr
					%th #
					%th Estudiante
					%th Definitiva
			%tbody
				- @estudiantes_secciones.each_with_index do |es,i|
					- tipo_calificacion = 'success' if es.cal_tipo_estado_calificacion_id.eql? 'AP'
					- tipo_calificacion = 'error' if (es.cal_tipo_estado_calificacion_id.eql? 'RE' or es.cal_tipo_estado_calificacion_id.eql? 'PI')
					- tipo_calificacion = 'info' if @cal_seccion.cal_semestre_id.eql? '2016-02A' and es.confirmar_inscripcion.eql? 1

					%tr{class: tipo_calificacion}
						%td #{i+1}
						%td #{es.cal_estudiante.cal_usuario.descripcion_apellido}
						%td
							= number_field_tag "[est][#{es.cal_estudiante_ci}]calificacion_final", {}, {disabled: calificada, value: es.calificacion_final.to_i, class: 'span9', required: true, :step => 0.1, :in => 0...21}

		.well.well-small
			-unless calificada 
				= submit_tag "Guardar", id: "submit", class: "btn btn-success pull-right", :disable_with => "Espere...", :data => {:confirm => 'Una vez que guardes las calificaciones no podrás cambiar su valor, ¿Estás Seguro?'}
	- else

		- if @cal_seccion.cal_materia_id.eql? 'SERCOM' 

			%table.table.table-bordered.table-striped.table-condensed.table-hover{style: "text-align:left;"}
				%thead
					%tr
						%th #
						%th Estudiante
						
						- unless calificada 
							%th Reprobado
							%th Aprobado
						- else
							%th	Estado
				%tbody
					- @estudiantes_secciones.each_with_index do |es,i|

						- tipo_calificacion = 'success' if es.cal_tipo_estado_calificacion_id.eql? 'AP'
						- tipo_calificacion = 'error' if (es.cal_tipo_estado_calificacion_id.eql? 'RE' or es.cal_tipo_estado_calificacion_id.eql? 'PI')
						- tipo_calificacion = 'info' if @cal_seccion.cal_semestre_id.eql? '2016-02A' and es.confirmar_inscripcion.eql? 1


						%tr{class: tipo_calificacion}
							%td #{i+1}
							%td #{es.cal_estudiante.cal_usuario.descripcion_apellido}
							- unless calificada
								%td
									= radio_button_tag "[est][#{es.cal_estudiante_ci}]calificacion_final", 0, (es.cal_tipo_estado_calificacion_id.eql? 'RE'), required: true
								%td
									= radio_button_tag "[est][#{es.cal_estudiante_ci}]calificacion_final", 20, (es.cal_tipo_estado_calificacion_id.eql? 'AP'), required: true
								%td
							- else
								%td
									%b= es.cal_tipo_estado_calificacion.descripcion
		- else

			%table.table.table-bordered.table-striped.table-condensed.table-hover{style: "text-align:left;"}
				%thead			
					%tr
						%th #
						%th Estudiante
						%th
							- unless calificada 
								PI
							- else
								Estado
						%th.span2 Trimestre I
						%th{style: "border-right-style: double;border-right-color: darkgray;"}= "(#{@p1}%)"
						%th.span2 Trimestre II
						%th{style: "border-right-style: double;border-right-color: darkgray;"}= "(#{@p2}%)"
						%th.span2 Trimestre III
						%th{style: "border-right-style: double;border-right-color: darkgray;"}= "(#{@p3}%)"
						%th Definitiva
				%tbody
					- @estudiantes_secciones.each_with_index do |es,i|

						- tipo_calificacion = 'success' if es.cal_tipo_estado_calificacion_id.eql? 'AP'
						- tipo_calificacion = 'error' if (es.cal_tipo_estado_calificacion_id.eql? 'RE' or es.cal_tipo_estado_calificacion_id.eql? 'PI')

						- tipo_calificacion = 'info' if @cal_seccion.cal_semestre_id.eql? '2016-02A' and es.confirmar_inscripcion.eql? 1

						%tr{class: tipo_calificacion}
							%td #{i+1}
							%td #{es.cal_estudiante.cal_usuario.descripcion_apellido}
							%td
								- unless calificada 
									= check_box_tag "[est][#{es.cal_estudiante_ci}]pi", true, es.pi?, {:onclick => "pi(#{es.cal_estudiante_ci})"}
								- else
									= es.cal_tipo_estado_calificacion.descripcion
							%td 
								=number_field_tag "[est][#{es.cal_estudiante_ci}]calificacion_primera", {}, {class: 'span9', required: @es_semestre1, :step => 0.1, :in => 0...21, value: es.calificacion_primera, disabled: (calificada or es.pi?), :onchange => "return calcular(#{@p1}, #{@p2}, #{@p3}, #{es.cal_estudiante_ci});"}
							%td{style: "border-right-style: double;border-right-color: darkgray;"}
								%p{id: "#{es.cal_estudiante_ci}_calificacion_primera_text"}
									= sprintf( "%0.01f", es.calificacion_primera*@p1/100) if es.calificacion_primera
							%td 
								=number_field_tag "[est][#{es.cal_estudiante_ci}]calificacion_segunda", {}, {class: 'span9', required: @es_semestre2, :step => 0.1, :in => 0...21, disabled: (calificada or es.pi?), value: es.calificacion_segunda, :onchange => "return calcular(#{@p1}, #{@p2}, #{@p3}, #{es.cal_estudiante_ci});"}
							%td{style: "border-right-style: double;border-right-color: darkgray;"}
								%p{id: "#{es.cal_estudiante_ci}_calificacion_segunda_text"}
									= sprintf( "%0.01f", es.calificacion_segunda*@p2/100) if es.calificacion_segunda
							%td
								= number_field_tag "[est][#{es.cal_estudiante_ci}]calificacion_tercera", {}, {class: 'span9', required: @es_semestre3, :step => 0.1, :in => 0...21, value: es.calificacion_tercera, disabled: (calificada or es.pi?), :onchange => "return calcular(#{@p1}, #{@p2}, #{@p3}, #{es.cal_estudiante_ci});"}

							%td{style: "border-right-style: double;border-right-color: darkgray;"}
								%p{id: "#{es.cal_estudiante_ci}_calificacion_tercera_text"}
									= sprintf( "%0.01f", es.calificacion_tercera*@p3/100) if es.calificacion_tercera
							%td
								- valor = es.pi? ? es.cal_tipo_estado_calificacion.descripcion : es.calificacion_final.to_i
								= text_field_tag "[est][#{es.cal_estudiante_ci}]calificacion_final", {}, {:readonly => true, disabled: calificada, value: valor , class: 'span9'}

		-unless calificada 
			.well.well-small
				= submit_tag "Guardar", id: "submit", class: "btn btn-success pull-right", :disable_with => "Espere...", :data => {:confirm => 'Una vez que guardes las calificaciones no podrás cambiar su valor, ¿Estás Seguro?'}
:javascript

	function pi(ci){

		if ($("#_est_"+ci+"pi").prop('checked') == true){

			$("#_est_"+ci+"calificacion_primera").prop( "disabled", true );	
			$("#_est_"+ci+"calificacion_segunda").prop( "disabled", true );
			$("#_est_"+ci+"calificacion_tercera").prop( "disabled", true );

			$("#_est_"+ci+"calificacion_primera").val("");
			$("#_est_"+ci+"calificacion_segunda").val("");
			$("#_est_"+ci+"calificacion_tercera").val("");			

			$("#_est_"+ci+"calificacion_primera").prop( "required", false );	
			$("#_est_"+ci+"calificacion_segunda").prop( "required", false );
			$("#_est_"+ci+"calificacion_tercera").prop( "required", false );

			$("#_est_"+ci+"calificacion_final").val("Perdida por Inasistencia");
			$("#_est_"+ci+"calificacion_tercera").prop( "disabled", true );
				
		}else{
			$("#_est_"+ci+"calificacion_primera").prop( "disabled", false );	
			$("#_est_"+ci+"calificacion_segunda").prop( "disabled", false );
			$("#_est_"+ci+"calificacion_tercera").prop( "disabled", false );

			$("#_est_"+ci+"calificacion_primera").prop( "required", true );	
			$("#_est_"+ci+"calificacion_segunda").prop( "required", true );
			$("#_est_"+ci+"calificacion_tercera").prop( "required", true );	

			$("#_est_"+ci+"calificacion_final").val("");
			$("#_est_"+ci+"calificacion_tercera").prop( "disabled", false );
		}

	}

	function calcular(p1,p2,p3,ci){
		var nota1 = document.getElementById("_est_"+ci+"calificacion_primera").value;
		var nota2 = document.getElementById("_est_"+ci+"calificacion_segunda").value;
		var nota3 = document.getElementById("_est_"+ci+"calificacion_tercera").value;
		var porcen1 = (p1*nota1)/100;
		porcen1 =  Math.round(porcen1 * 10) / 10;
		var porcen2 = (p2*nota2)/100;
		porcen2 =  Math.round(porcen2 * 10) / 10;		
		var porcen3 = (p3*nota3)/100;
		porcen3 =  Math.round(porcen3 * 10) / 10;		
		$("#"+ci+"_calificacion_primera_text").text(porcen1);
		$("#"+ci+"_calificacion_segunda_text").text(porcen2);
		$("#"+ci+"_calificacion_tercera_text").text(porcen3);
		var final = (porcen1+porcen2+porcen3).toFixed(0);
		
		$("#_est_"+ci+"calificacion_final").val(final);

	}															
