.well.well-small
	=link_to "Regresar", {:action => 'seleccionar_seccion'}, :class => 'btn'
	-unless @cal_seccion.calificada 
		= submit_tag "Guardar", :id => "submit", :class => "btn btn-success pull-right", :disable_with => "Espere...", :data => {:confirm => 'Una vez que guardes las calificaciones no podrás cambiar su valor, ¿Estás Seguro?'}
	-else
		=link_to "Descargar notas", {:action => 'descargar_notas', :id => @cal_seccion.id}, :class => "btn btn-success pull-right"

%p#text
= form_tag(:action => "calificar") do
	= hidden_field_tag "id", @cal_seccion.id
	%table.table.table-bordered.table-striped.table-condensed{:style => "text-align:left;"}
		%thead
			%tr
				%th #
				%th Alumno
				%th Trimestre I
				%th{:style => "border-right-style: double;border-right-color: darkgray;"}= "(#{@p1}%)"
				%th Trimestre II
				%th{:style => "border-right-style: double;border-right-color: darkgray;"}= "(#{@p2}%)"
				%th Trimestre III
				%th{:style => "border-right-style: double;border-right-color: darkgray;"}= "(#{@p3}%)"
				%th Definitiva
		%tbody

			- @estudiantes_secciones.each_with_index do |es,i|

				%tr
					%td #{i}
					%td #{es.cal_estudiante.cal_usuario.descripcion}
					%td 
						=number_field_tag "[est][#{es.cal_estudiante_ci}]calificacion_primera", {}, {:class => 'span9', :required => true, :step => 0.1, :in => 0...21, :value => es.calificacion_primera, :disabled => @cal_seccion.calificada, :onchange => "return calcular(#{@p1}, #{@p2}, #{@p3}, #{es.cal_estudiante_ci});"}
					%td{:style => "border-right-style: double;border-right-color: darkgray;"}
						%p{:id => "#{es.cal_estudiante_ci}_calificacion_primera_text"}
							= sprintf( "%0.01f", es.calificacion_primera*@p1/100) if es.calificacion_primera
					%td 
						=number_field_tag "[est][#{es.cal_estudiante_ci}]calificacion_segunda", {}, {:class => 'span9', :required => true, :step => 0.1, :in => 0...21, :disabled => @cal_seccion.calificada, :value => es.calificacion_segunda, :onchange => "return calcular(#{@p1}, #{@p2}, #{@p3}, #{es.cal_estudiante_ci});"}
					%td{:style => "border-right-style: double;border-right-color: darkgray;"}
						%p{:id => "#{es.cal_estudiante_ci}_calificacion_segunda_text"}
							= sprintf( "%0.01f", es.calificacion_segunda*@p1/100) if es.calificacion_segunda
					%td
						= number_field_tag "[est][#{es.cal_estudiante_ci}]calificacion_tercera", {}, {:class => 'span9', :required => true, :step => 0.1, :in => 0...21, :value => es.calificacion_tercera, :disabled => @cal_seccion.calificada, :onchange => "return calcular(#{@p1}, #{@p2}, #{@p3}, #{es.cal_estudiante_ci});"}

					%td{:style => "border-right-style: double;border-right-color: darkgray;"}
						%p{:id => "#{es.cal_estudiante_ci}_calificacion_tercera_text"}
							= sprintf( "%0.01f", es.calificacion_tercera*@p3/100) if es.calificacion_tercera
					%td
						= text_field_tag "[est][#{es.cal_estudiante_ci}]calificacion_final", {}, {:readonly => true, :disabled => @cal_seccion.calificada, :value => es.calificacion_final, :class => 'span9'}

	.well.well-small
		=link_to "Regresar", {:action => 'seleccionar_seccion'}, :class => 'btn'
		-unless @cal_seccion.calificada 
			= submit_tag "Guardar", :id => "submit", :class => "btn btn-success pull-right", :disable_with => "Espere...", :data => {:confirm => 'Una vez que guardes las calificaciones no podrás cambiar su valor, ¿Estás Seguro?'}
		-else
			=link_to "Descargar notas", {:action => 'descargar_notas', :id => @cal_seccion.id}, :class => "btn btn-success pull-right"

:javascript
	function calcular(p1,p2,p3,ci){
		var nota1 = document.getElementById("_est_"+ci+"calificacion_primera").value;
		var nota2 = document.getElementById("_est_"+ci+"calificacion_segunda").value;
		var nota3 = document.getElementById("_est_"+ci+"calificacion_tercera").value;				
		var porcen1 = p1*nota1/100;
		porcen1 =  Math.ceil(porcen1 * 10) / 10;
		var porcen2 = p2*nota2/100;
		porcen2 =  Math.ceil(porcen2 * 10) / 10;		
		var porcen3 = p3*nota3/100;
		porcen3 =  Math.ceil(porcen3 * 10) / 10;		
		$("#"+ci+"_calificacion_primera_text").text(porcen1);
		$("#"+ci+"_calificacion_segunda_text").text(porcen2);
		$("#"+ci+"_calificacion_tercera_text").text(porcen3);
		var final = (porcen1+porcen2+porcen3).toFixed(0);
		
		$("#_est_"+ci+"calificacion_final").val(final);

	}															
