=form_for(@modulo,:url=>{:action => "crear"}) do |a|
  -if @modulo.errors.any?
    %ul
      -flash[:alert] = ""
      -@modulo.errors.full_messages.each do |msg|
        -flash[:alert] += "#{msg}\n"

  %fieldset
    %legend      
      %ul.nav.nav-pills
        %li.active= link_to "#{@modulo.diplomado.descripcion_completa}"

    %label
      %b Diplomado:
    =a.text_field :diplomado_id, :class => "input", :readonly => true,  :required => true

    %label 
      %b Número de Identificación:
    =a.number_field :numero, :in => 1...11, :include_blank => 'Seleccione...', :class => "span1", :required => true
    =#a.select :numero, options_for_select((1..10)), {:include_blank => 'Seleccione...'}, :required => true
    %label
      %b Descripción:
    =a.text_field :descripcion, :placeholder => "Descripcion…", :class => "input"
    %br
    =a.submit "Registrar >", :class => "btn btn-primary"

%p  
  = link_to "/aceim_diplomados/diplomado/vista/#{@modulo.diplomado.id}", {:class => "btn"} do
    %i.icon-backward
    Atrás