= render partial: 'barra_progreso'
.well.well-small
  =form_tag action:'paso6_guardar' do
    .control-group
      %label.control-label
        %b ¿Desea establecer la cohorte utilizada en este asistente como la cohorte actual?
      .controls
        %p 
          %span.badge  
            = radio_button_tag 'actualizar_cohorte', 'si', true
            Si
          %span.badge
            = radio_button_tag 'actualizar_cohorte', 'no'
            No

    %br
    .control-group
      %label.control-label
        %b ¿Desea abrir el período de pre-inscripción para la cohorte actual?
      .controls

        %p 
          %span.badge  
            = radio_button_tag 'preinscripcion', 'si', true
            Si
          %span.badge
            = radio_button_tag 'preinscripcion', 'no'
            No
    .form_actions
      = button_tag class: "btn btn-primary", :type => "submit" do
        = "Aplicar Ajustes"

= render partial: 'nav_wizard'