/ %h3 Información Importante:
-#if ParametroGeneral.inscripcion_abierta
/ .well{:style=>"overflow-y: scroll;height: 200px;"}

-if ParametroGeneral.preinscripcion_abierta
	.well.well-small
		%h4.center
			%b 
				Para preinscribrir un diplomado debe 
				= link_to "Ingresar en su Cuenta", "#usuario_cedula"
				o registrarse
		%div
			=button_to "Registrarse", {:action => "registrar"}, :class => 'btn btn-primary btn-block btn-large center'

.tabbable.tabs-top
	%ul.nav.nav-tabs
		-@diplomados.each_with_index do |dc,i|
			-@active = (i.eql? 0) ? "active" : ""
			%li{:class => @active}
				=link_to dc.diplomado.id, "##{dc.diplomado.id}", "data-toggle"=> "tab"
	.tab-content
		-@diplomados.each_with_index do |dc, i|
			-@active_pane = (i.eql? 0) ? "active" : ""
			.tab-pane{:id=>"#{dc.diplomado.id}", :class => @active_pane}

				#accordionMenu.accordion
					.accordion-group
						.nav-header
							%a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "##{dc.diplomado.id}_caracteristica"}
								.nav-header
									Características
					.accordion-body.collapse{:id=>"#{dc.diplomado.id}_caracteristica"}
						.accordion-inner
							%dl.well.well-small.dl-horizontal
								%p
									%dt Nombre:
									%dd
										= dc.diplomado.descripcion_completa
								%p
									%dt Objetivo:
									%dd
										= dc.diplomado.objetivo
								%p
									%dt Destinatario:
									%dd
										= dc.diplomado.destinatario
								%p
									%dt Destinatario:
									%dd
										= dc.diplomado.destinatario
								%p	
									%dt Modalidad:
									%dd
										= dc.diplomado.modalidad
								%p
									%dt Duración:
									%dd
										= dc.diplomado.duracion
								%p
									%dt Horario:
									%dd 
										= dc.diplomado.horario
					- if dc.diplomado.normativa		
						.accordion-group
							.nav-header
								%a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "##{dc.diplomado.id}_normativa"}
									.nav-header
										Normativa
						.accordion-body.collapse{:id=>"#{dc.diplomado.id}_normativa"}
							.accordion-inner
								= dc.diplomado.normativa.html_safe
					.accordion-group
						.nav-header
							%a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "##{dc.diplomado.id}_modulos"}
								.nav-header
									Módulos
					.accordion-body.collapse{:id=>"#{dc.diplomado.id}_modulos"}
						.accordion-inner

							-dc.diplomado.modulos.each do |modulo|
								%dl.well.dl-horizontal
									%dt= "#{modulo.descripcion_completa}"
									%dd
										-modulo.temas.each do |tema|
											%li
												%p= tema.descripcion_completa
												- cortes_temas = tema.cohorte_tema.where(:cohorte_id => @cohorte_actual.id)
												- if cortes_temas.count > 0
													- cortes_temas.each do |ct|
														%p
															%b Grupo:
															= ct.grupo
															%b Fecha Inicial
															= ct.fecha_inicial.to_s
															%b Fecha Final
															= ct.fecha_final.to_s
															- if ct.docente
																%b Docente:
																= ct.docente.usuario.nombre_completo

												- else
													%p.muted -- Fechas por definir  --


					.accordion-group
						.nav-header
							%a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "##{dc.diplomado.id}_docentes"}
								.nav-header
									Grupo Docente
					.accordion-body.collapse{:id=>"#{dc.diplomado.id}_docentes"}
						.accordion-inner
							.well.well-small
								%ul
									- @docentes_ct.each do |docente_ct|
										%li
											%p
												%b= "#{docente_ct.docente.nombre_completo if docente_ct.docente}:"
												= docente_ct.tema.descripcion_completa if docente_ct.tema


					.accordion-group
						.nav-header
							%a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "##{dc.diplomado.id}_inscripcion"}
								.nav-header
									Matriculación
					.accordion-body.collapse{:id=>"#{dc.diplomado.id}_inscripcion"}
						.accordion-inner
							%h4 Preinscripción:
							.well.well-small.dl-horizontal
								%p
									%dt Fecha:
									%dd= dc.fecha_inscripcion.to_s.capitalize
								%p
									%dt Horario:
									%dd= dc.horario_inscripcion.capitalize
							%h4 Inscripción:
							.well.well-small.dl-horizontal
								%p
									%dt Fecha:
									%dd 16 y 17 de Octubre
								%b
									%dt Horario:
									%dd 9:00am a 4:00pm
								%p
									%dt Inversión:
									%dd= "#{dc.inversion} Bs." 
								%p
									%dt Procedimiento:
									%dd
										Descarar la Planilla
										Llevarla con original y copia del o los depósitos bancarios.
								%p
									%dt Lugar:
									%dd Escuela de Idiomas Modernos, galpón N° 7 frente a la Facultad de Farmacia.

							%h4 Datos de la cuenta:
							.well.well-small.dl-horizontal
								%p
									%dt Banco:
									%dd
										= dc.cuenta_bancaria_banco
								%p 
									%dt Tipo de Cuenta:
									%dd
										= dc.cuenta_bancaria_tipo
								%p	
									%dt Nro.:
									%dd
										= dc.cuenta_bancaria_numero

								%p
									%dt A nombre de:
									%dd
										=dc.cuenta_bancaria_cliente
							.well.well-small.dl-horizontal
								%p	
									%dt Nota:
									%dd La Escuela de Idiomas Modernos se reserva el derecho de postergar el inicio de clases o anular el Diplomado si el número de inscritos no llega al mínimo establecido.

									%dt Correo:
									%dd diplomado.ele.eim.ucv@gmail.com 
