/ %h3 Información Importante:
-#if ParametroGeneral.inscripcion_abierta
=#button_to "PresInscribirse", {:action => "paso1", :controller => "inscripcion"},:class => 'btn'
=#button_to "Registrarse", {:action => "registrar"}, :class => 'btn'
/ .well{:style=>"overflow-y: scroll;height: 200px;"}
= #@content.html_safe



-if ParametroGeneral.inscripcion_abierta
	=#button_to "PresInscribirse", {:action => "paso1", :controller => "inscripcion"},:class => 'btn'
	.well.well-small
		%h4.center
			%b 
				Para preinscribrir un diplomado debe 
				= link_to "Ingresar en su Cuenta", "#usuario_cedula"
				o registrarse
		%div
			=button_to "Registrarse", {:action => "registrar"}, :class => 'btn btn-primary btn-block btn-large center'

.tabbable.tabs-left
	%ul.nav.nav-tabs
		-@diplomados.each do |dc|
			%li
				=link_to dc.diplomado.id, "##{dc.diplomado.id}", "data-toggle"=> "tab"
	.tab-content
		-@diplomados.each_with_index do |dc, i|
			.tab-pane{:id=>"#{dc.diplomado.id}"}

				#accordionMenu.accordion
					.accordion-group
						.nav-header
							%a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "##{dc.diplomado.id}_caracteristica"}
								.nav-header
									Características
					.accordion-body.collapse{:id=>"#{dc.diplomado.id}_caracteristica"}
						.accordion-inner
							%h3= dc.diplomado.descripcion_completa
							%b Objetivo:
							%p= dc.diplomado.objetivo
							%b Destinatario:
							%p= dc.diplomado.destinatario
							%p
								%b Modalidad:
								= dc.diplomado.modalidad
							%p
								%b Duración:
								= dc.diplomado.duracion
							%b Horario:
							%p= dc.diplomado.horario
					.accordion-group
						.nav-header
							%a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "##{dc.diplomado.id}_modulos"}
								.nav-header
									Módulos
					.accordion-body.collapse{:id=>"#{dc.diplomado.id}_modulos"}
						.accordion-inner

							-dc.diplomado.modulos.each do |modulo|
								%dl.well.dl-horizontal
									%dt= "#{modulo.descripcion_completa}"
									%dd
										-modulo.temas.each do |tema|
											%li
												%p= tema.descripcion_completa
												- cortes_temas = tema.cohorte_tema.where(:cohorte_id => @cohorte_actual.id)
												- if cortes_temas.count > 0
													- cortes_temas.each do |ct|
														%p
															%b Grupo:
															= ct.grupo.id
															%b Fecha Inicial
															= ct.fecha_inicial.to_s
															%b Fecha Final
															= ct.fecha_final.to_s
															- if ct.docente
																%b Docente:
																= ct.docente.usuario.nombre_completo

												- else
													%p.muted -- Fechas por definir  --


					.accordion-group
						.nav-header
							%a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "##{dc.diplomado.id}_docentes"}
								.nav-header
									Grupo Docente
					.accordion-body.collapse{:id=>"#{dc.diplomado.id}_docentes"}
						.accordion-inner
							.well.well-small
								%ul
									- @docentes_ct.each do |docente_ct|
										%li
											%p
												%b= "#{docente_ct.docente.nombre_completo if docente_ct.docente}:"
												= docente_ct.tema.descripcion_completa if docente_ct.tema


					.accordion-group
						.nav-header
							%a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "##{dc.diplomado.id}_inscripcion"}
								.nav-header
									Preinscripcion
					.accordion-body.collapse{:id=>"#{dc.diplomado.id}_inscripcion"}
						.accordion-inner

							%h4 Datos de PreInscripción:
							.well.well-small
								%p
									%b Fecha de preinscripciones:
									= dc.fecha_inscripcion.to_s
								%p
									%b Horario de preinscripciones:
									= dc.horario_inscripcion

							%h4 Datos de la cuenta:
							.well.well-small
								%p
									%b Banco:
									= dc.cuenta_bancaria_banco
								%p 
									%b Tipo de Cuenta:
									= dc.cuenta_bancaria_tipo
								%p	
									%b Nro.:
									=  dc.cuenta_bancaria_numero

								%p
									%b A nombre de:
									=dc.cuenta_bancaria_cliente
								%p
									%b Inversión (pago único):
									= "#{dc.inversion} Bs." 
								%p	
									%b Nota:
									La Escuela de Idiomas Modernos se reserva el derecho de postergar el inicio de clases o anular el Diplomado si el número de inscritos no llega al mínimo establecido.
