/ %h3 Información Importante:
-#if ParametroGeneral.inscripcion_abierta
=#button_to "PresInscribirse", {:action => "paso1", :controller => "inscripcion"},:class => 'btn'
=#button_to "Registrarse", {:action => "registrar"}, :class => 'btn'
.well{:style=>"overflow-y: scroll;height: 200px;"}
	= @content.html_safe



-if ParametroGeneral.inscripcion_abierta
	=#button_to "PresInscribirse", {:action => "paso1", :controller => "inscripcion"},:class => 'btn'
	.well.well-small
		%h4.center
			%b Para Inscribrir un Diplomado debe ingresar en su cuenta o registrarse
		%div
			=button_to "Registrarse", {:action => "registrar"}, :class => 'btn btn-primary btn-block btn-large center'

.tabbable.tabs-left
	%ul.nav.nav-tabs
		-@diplomados.each do |dc|
			%li
				=link_to dc.diplomado.id, "##{dc.diplomado.id}", "data-toggle"=> "tab"
	.tab-content
		-@diplomados.each_with_index do |dc, i|
			.tab-pane{:id=>"#{dc.diplomado.id}"}

				#accordionMenu.accordion
					.accordion-group
						.nav-header
							%a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "##{dc.diplomado.id}_caracteristica"}
								.nav-header
									Características
					.accordion-body.collapse{:id=>"#{dc.diplomado.id}_caracteristica"}
						.accordion-inner
							%h3= dc.diplomado.descripcion_completa
							%b Objetivo:
							%p= dc.diplomado.objetivo
							%b Destinatario:
							%p= dc.diplomado.destinatario
							%p
								%b Modalidad:
								= dc.diplomado.modalidad
							%p
								%b Duración:
								= dc.diplomado.duracion
							%b Horario:
							%p= dc.diplomado.horario
					.accordion-group
						.nav-header
							%a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "##{dc.diplomado.id}_modulos"}
								.nav-header
									Módulos
					.accordion-body.collapse{:id=>"#{dc.diplomado.id}_modulos"}
						.accordion-inner

							-dc.diplomado.modulos.each do |modulo|
								%dl.well.dl-horizontal
									%dt= "#{modulo.descripcion_completa}"
									%dd
										-modulo.temas.each do |tema|
											%li
												%p= tema.descripcion_completa
												- tema.cohorte_tema.each do |ct|
													%p
														%b Grupo:
														= ct.grupo.descripcion
														%b Fecha Inicial
														= ct.fecha_inicial.to_s
														%b Fecha Final
														= ct.fecha_final.to_s


					.accordion-group
						.nav-header
							%a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "##{dc.diplomado.id}_docentes"}
								.nav-header
									Grupo Docente
					.accordion-body.collapse{:id=>"#{dc.diplomado.id}_docentes"}
						.accordion-inner

					.accordion-group
						.nav-header
							%a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "##{dc.diplomado.id}_inscripcion"}
								.nav-header
									Inscripciones
					.accordion-body.collapse{:id=>"#{dc.diplomado.id}_inscripcion"}
						.accordion-inner
							%b Datos de la cuenta:
							%p 
								%b= dc.cuenta_bancaria_banco
							%p 
								%b= "Cuenta #{dc.cuenta_bancaria_tipo}"
								=  "Nro. #{dc.cuenta_bancaria_numero}"

							%p= "A nombre de:#{dc.cuenta_bancaria_cliente}" 
							%p
								%b Inversión (pago único):
								= dc.inversion 
							%p
								%b Fecha de inscripciones:
								= dc.fecha_inscripcion.to_s
							%p
								%b Horario de inscripciones:
								= dc.horario_inscripcion
							%p	
								%b Nota: 
								La Escuela de Idiomas Modernos se reserva el derecho de postergar el inicio de clases o anular el Diplomado si el número de inscritos no llega al mínimo establecido.
