<h1>Listing cal_estudiante_tipo_planes</h1>

<table>
  <tr>
    <th>Cl estudiante</th>
    <th>Tipo plan</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cal_estudiante_tipo_planes.each do |cal_estudiante_tipo_plan| %>
  <tr>
    <td><%= cal_estudiante_tipo_plan.cl_estudiante %></td>
    <td><%= cal_estudiante_tipo_plan.tipo_plan %></td>
    <td><%= link_to 'Show', cal_estudiante_tipo_plan %></td>
    <td><%= link_to 'Edit', edit_cal_estudiante_tipo_plan_path(cal_estudiante_tipo_plan) %></td>
    <td><%= link_to 'Destroy', cal_estudiante_tipo_plan, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cal estudiante tipo plan', new_cal_estudiante_tipo_plan_path %>
