%p
= link_to "diplomado/nuevo", {:class => 'btn btn-primary'}do
	%i.icon-plus.icon-white
	Agregar Diplomado

.tabbable.tabs-left
	%ul.nav.nav-tabs
		-@diplomados.each do |diplomado|
			%li
				=link_to diplomado.id, "##{diplomado.id}", "data-toggle"=> "tab"
	.tab-content
		-@diplomados.each do |diplomado|
			.tab-pane{:id=>"#{diplomado.id}"}
				%b Objetivo:
				%p= diplomado.objetivo
				%b Destinatario:
				%p= diplomado.destinatario
				%p
					%b Modalidad:
					= diplomado.modalidad
				%p
					%b Duración:
					= diplomado.duracion
				%b Horario:
				%p= diplomado.horario					
				= link_to "diplomado/vista/#{diplomado.id}", {:class => 'btn btn-info'}do
					%i.icon-pencil.icon-white
					=diplomado.descripcion_completa

				-diplomado.modulos.each do |modulo|
					%dl.well.dl-horizontal
						%dt= "#{modulo.descripcion_completa}"
						%dd
							-modulo.temas.each do |tema|
								%li
									%p= tema.descripcion_completa
%p
= link_to "diplomado/nuevo", {:class => 'btn btn-primary'}do
	%i.icon-plus.icon-white
	Agregar Diplomado