.tabbable.tabs-top
	%ul.nav.nav-tabs
		-@diplomados.each_with_index do |diplomado,i|
			-active = (i.eql? 0) ? "active" : ""
			%li{class: active}
				=link_to diplomado.id, "##{diplomado.id}", "data-toggle"=> "tab"
	.tab-content
		-@diplomados.each_with_index do |diplomado,i|
			-active_pane = (i.eql? 0) ? "active" : ""
			
			.tab-pane.well.well-small{id:"#{diplomado.id}", class: active_pane}
				.well.well-small
					%h5{style: "text-decoration: underline;"} Características Generales:
					%p
						%b Objetivo:
						= diplomado.objetivo
					%p
						%b Destinatario:
						= diplomado.destinatario
					%p
						%b Modalidad:
						= diplomado.modalidad
					%p
						%b Duración:
						= diplomado.duracion
					%p
						%b Horario:
						= diplomado.horario
					- @diplomado = diplomado

					= link_to "diplomado/editar/#{diplomado.id}", {class: 'btn', :data => {:toggle => "tooltip"}, "title"=>"Editar características"} do
						%i.icon-edit
						= "Editar Características Generales"
				.well.well-small
					- if diplomado_cohorte = diplomado.diplomado_cohorte.where(:cohorte_id => @cohorte_actual.id).limit(1).first

						%h5{style: "text-decoration: underline;"} 
							= "Características propias del diplomado en esta cohorte #{@cohorte_actual.id}:"

						%p
							%b Fecha de Inscripción:
							= diplomado_cohorte.fecha_inscripcion
						%p
							%b Cantidad de Grupos:
							= diplomado_cohorte.grupos
						%p
							%b Horario de Inscripción:
							= diplomado_cohorte.horario_inscripcion
						%p
							%b Inversión:
							= "#{diplomado_cohorte.inversion} Bs."
						%p
							%b Datos bancarios:
							Cuenta 
							= diplomado_cohorte.cuenta_bancaria_tipo
							= "-"
							= diplomado_cohorte.cuenta_bancaria_banco
							= "#"
							= diplomado_cohorte.cuenta_bancaria_numero
							A nombre de:
							= diplomado_cohorte.cuenta_bancaria_cliente

						= link_to "/diplomado_cohorte/editar/#{diplomado_cohorte.id}", {class: "btn", :data => {:toggle => "tooltip"}, "title"=>"Editar caracteristicas del diplomado en esta cohorte"} do
							%i.icon-edit
							Editar Características para esta Cohorte

						= link_to "/cohorte_tema/nuevo/#{diplomado_cohorte.id}", {class: "btn", :data => {:toggle => "tooltip"}, "title"=>"Asignar fechas y docentes a temas"} do
							%i.icon-list-alt
							Asignar Docentes y Fechas a los Cursos de esta Cohorte

					- else
						%h5 
							= "Este diplomado no ha sido agregado a esta cohorte #{@cohorte_actual.id}"


				.well.well-small
					= render "modulos"