-@diplomado.modulos.each do |modulo|
	%dl.well.dl-horizontal
		%dt= "#{modulo.descripcion_completa}"
		%dd
			-modulo.temas.each do |tema|
				%li
					%p= tema.descripcion_completa
		%dd
			= link_to "/aceim_diplomados/tema/nuevo/#{modulo.id}", {:class => 'btn btn-primary btn-mini'}do
				%i.icon-plus.icon-white
				Agregar Tema

%p
	= link_to "/aceim_diplomados/modulo/nuevo/#{@diplomado.id}", {:class => 'btn btn-primary'}do
		%i.icon-plus.icon-white
		Agregar Módulo

%p	
	= link_to "/aceim_diplomados/diplomado/index", {:class => "btn"} do
		%i.icon-backward
		Atrás