
=form_tag "/aceim_diplomados/diplomado/editar/#{@diplomado.id}", :class => "form-horizontal well well-small" do |df|

	.control-group
		%label.control-label
			Descripción:
		.controls
			= text_field :diplomado, :descripcion, :placeholder => "descripcion…", :required => true, :autofocus => true
			%span.help-inline
				Ejemplo: Enseñanza en Español como 2da. Lengua

	.control-group
		%label.control-label
			Objetivo:
		.controls
			= text_area :diplomado, :objetivo, :class => 'text_area', :style => "height: 120px;",:placeholder => "objetivo…", :required => true
			%span.help-inline
				Objetivos del diplomado...

	.control-group
		%label.control-label
			Duración:
		.controls
			= text_field :diplomado, :duracion, :placeholder => "duración…", :required => true
			%span.help-inline
				Ejemplo: 32 semanas (130 horas académicas)

	.control-group
		%label.control-label
			Modalidad:
		.controls
			= text_field :diplomado, :modalidad, :placeholder => "modalidad…", :required => true
			%span.help-inline
				Ejemplo: Presencial y Virtual

	.control-group
		%label.control-label
			Destinatario:
		.controls
			= text_area :diplomado, :destinatario, :class => 'text_area', :style => "height: 120px;", :placeholder => "destinatario…", :required => true
			%span.help-inline
				Ejemplo: Profesores de lengua y literatura o profesionales en áreas afines...

	.control-group
		%label.control-label
			Horario:
		.controls
			= text_field :diplomado, :horario, :placeholder => "horario…", :required => true
			%span.help-inline
				Ejemplo: Sábados de 8:30 am a 12:30 pm (5 horas presenciales de 45 min. c/h.).

	.form-actions
		=submit_tag "Guardar Cambios", :class => "btn btn-primary pull pull-right"






-@diplomado.modulos.each do |modulo|
	%dl.well.dl-horizontal
		%dt= "#{modulo.descripcion_completa}"
		%dd
			-modulo.temas.each do |tema|
				%li
					%p= tema.descripcion_completa
		%dd
			= link_to "/aceim_diplomados/tema/nuevo/#{modulo.id}", {:class => 'btn btn-primary btn-mini'}do
				%i.icon-plus.icon-white
				Agregar Tema

%p
	= link_to "/aceim_diplomados/modulo/nuevo/#{@diplomado.id}", {:class => 'btn btn-primary'}do
		%i.icon-plus.icon-white
		Agregar Módulo

%p	
	= link_to "/aceim_diplomados/diplomado/index", {:class => "btn"} do
		%i.icon-backward
		Atrás