= form_tag ({:action => 'crear'}, :class => 'form-horizontal') do

  %fieldset
    %legend Datos de Personales
    .control-group
      %label.control-label
        CI:
      .controls
        = text_field :cal_usuario, :ci, :class => 'text_field', :placeholder => "Cédula de Identidad…", :required => true, :autofocus => true

    .control-group
      %label.control-label
        Nombres:
      .controls
        = text_field :cal_usuario, :nombres, :class => 'text_field', :placeholder => "Nombres…", :required => true

    .control-group
      %label.control-label
        Apellidos:
      .controls
        = text_field :cal_usuario, :apellidos, :class => 'text_field', :placeholder => "Apellidos…", :required => true

    .control-group
      %label.control-label
        Sexo:
      .controls
        %label.checkbox
          =radio_button :cal_usuario, :cal_tipo_sexo_id, "M", :required => true
          Masculino
          |
          =radio_button :cal_usuario, :cal_tipo_sexo_id, "F", :required => true
          Femenino

  %fieldset
    %legend Datos de Personales

    .control-group
      %label.control-label
        Plan:
      .controls
        = text_field :cal_estudiante, :plan, :class => 'text_field', :placeholder => "Plan (Uxxi)"

    .control-group
      %label.control-label
        Idioma 1:
      .controls
        = collection_select :cal_estudiante, :idioma1_id, @cal_departamentos, :id, :descripcion, {:prompt => true}, { :class => 'input', :onchange => "ver_select(this.value)", :required => true }


    .control-group
      %label.control-label
        Idioma 2:
      .controls

        = collection_select :cal_estudiante, :idioma2_id, @cal_departamentos, :id, :descripcion, {:prompt => true}, { :class => 'input', :style => 'display:none;', :id => 'idioma2', :required => true}


    .form-actions
      = submit_tag 'Registrar', :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), {:controller => 'cal_principal_admin', :action =>  'usuarios'} , :class => 'btn'

:javascript

  function ver_select(val){

    $("#idioma2 option[value='']").remove();
    $("#idioma2 option[value=ALE]").remove();
    $("#idioma2 option[value=FRA]").remove();   
    $("#idioma2 option[value=ING]").remove();
    $("#idioma2 option[value=ITA]").remove();
    $("#idioma2 option[value=POR]").remove();

    $("#idioma2").append('<option value="">Por favor seleccione</option>');
    $("#idioma2").append('<option value="ALE">Alemán</option>');
    $("#idioma2").append('<option value="FRA">Fancés</option>');
    $("#idioma2").append('<option value="ING">Inglés</option>');
    $("#idioma2").append('<option value="ITA">Italiano</option>');
    $("#idioma2").append('<option value="POR">Portugués</option>');

    $("#idioma2 option[value="+val+"]").remove();
    $('#idioma2').show();

    if (val == ''){
    $('#idioma2').hide();
    $('#actualizar_btn').hide();

    
    }
  }