%table
	%tr
		%td
			%b.tooltip-btn{'data_toggle'=>'tooltip', title: "Descargar Kardex de #{@estudiante.cal_usuario.nickname.capitalize}"}
				= link_to({controller: 'cal_descargar', action: 'kardex', id: @estudiante.id}, {class: 'btn btn-mini'}) do
					%i.icon-download-alt.icon-white
					Kardex

		- if session[:cal_administrador]
			%td
				%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>"Inscribir en una sección del periodo actual: #{session[:cal_parametros][:semestre_actual]}" }		
					= link_to "#", { class: 'btn btn-success btn-mini', :onclick => "return $('#estudiante_seccion').modal();", 'data_toggle' => 'modal' } do
						%i.icon-plus.icon-white
						= "Inscribir en seccion del #{session[:cal_parametros][:semestre_actual]}"

			- if @estudiante.inscrito?
				%td
					%b
						= link_to({controller: 'cal_descargar', action: 'contancia_inscripcion', :id => @estudiante.id}, class: 'btn btn-default btn-mini') do
							%i.icon-download.icon-white
							Constancia de Inscripcion

			%td
				%b
					= link_to({controller: 'cal_descargar', action: 'contancia_estudio', :id => @estudiante.id}, class: 'btn btn-default btn-mini') do
						%i.icon-download.icon-white
						Constancia de Estudio

			.modal.fade#estudiante_seccion{ role: "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden'=> false}
				.modal-dialog
					.modal-content
						.modal-header
							%h5
								= "Inscribir a #{@estudiante.descripcion} en sección del periodo #{session[:cal_parametros][:semestre_actual]}"
								<button type="button" class="close fade" data-dismiss="modal" aria-hidden="true">×</button>
						.modal-body
							= render partial: 'cal_estudiante_seccion/form'
%h5 Registro de Asiganturas:
.accordion#accordion1

	- @periodos.each do |periodo|
		- @secciones_periodo = @secciones.where(:cal_semestre_id => periodo.id)
		- if @secciones_periodo.count > 0
			.accordion-group
				.accordion-heading
					= link_to "Período Académico #{periodo.id}", "#collapse#{periodo.id}", {class: "accordion-toggle", "data-toggle" => "collapse", "data-parent" => "accordion1"}
				.accordion-body.collapse{id: "collapse#{periodo.id}"}
					.accordion-inner
						- @periodo = periodo
						= render 'cal_estudiante/table_contenido_historial'

:javascript

	function confirmar(ele) {
		ele.parent().submit();

		if (ele.is(":checked")) {
			ele.closest('tr').addClass('info');
		}else{
			ele.closest('tr').removeClass('info');
		}
	};
	