
%table.table.table-bordered.table-striped.table-condensed.table-hover
	%thead
		%tr
			%th #
			%th Ci
			%th Nombre
			%th Asig 1
			%th Asig 2
			%th Asig 3
			%th Asig 4
	%tbody
		- i=0
		- @estudiantes.each do |e| 
			- secciones = e.cal_estudiantes_secciones.del_semestre_actual
			- if secciones.count > 0
				- i +=1 
				%tr
					%td= i
					%td= e.cal_usuario_ci
					%td= e.cal_usuario.nombre_completo
					- secciones.each do |seccion| 
						%td= "#{seccion.cal_seccion.descripcion} (#{seccion.cal_seccion.cal_materia.id_upsi})"