%h2 Configuraciones Generales 
- if @admin.cal_tipo_admin_id < 2
	%h4 Generales:
	- if (@cal_semestre_actual.cal_secciones.calificadas.count > 0)
		%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>"Habilitar calificación para todas las secciones del Período #{@cal_semestre_actual_id}"}
			= link_to "", {:href => '/sirneim/cal_principal_admin/habilitar_calificar', class: "btn btn-success", 'data_confirm' => "Se Habilitaran todas las secciones del período #{@cal_semestre_actual_id}, ¿Está seguro de esta acción?"},{role: 'button'} do
				%span.icon.icon-off.icon-white
				= content_tag(:i, "", class: "icon icon-list icon-white")
	- else			
		%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Todas las secciones de este periodo habilidatas para calificar'}
			= link_to "", {:href => 'javascript:void(0)', class: "btn btn-success disabled", 'data_confirm' => "Se Habilitaran todas las secciones del período #{@cal_semestre_actual_id}, ¿Está seguro de esta acción?"},{role: 'button'} do
				%i.icon.icon-off.icon-white
				%i.icon.icon-list.icon-white

	%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Importar Secciones y Estudiantes desde un archivo PDF'}
		= link_to "", {:href => '/sirneim/cal_principal_admin/importar_secciones_paso1', class: 'btn btn-info'},{role: 'button'} do
			%i.icon-file.icon-white
			%i.icon-arrow-right.icon-white
			%i.icon-list.icon-white

	%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>"Clonar Secciones del Período Anterior #{session[:cal_parametros][:semestre_anterior]}" }
		= link_to "", {:href => '/sirneim/cal_seccion/clonar_secciones_anteriores', class: 'btn btn-success'},{role: 'button'} do
			%i.icon-retweet.icon-white
			%i.icon-list.icon-white

	%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>"Eliminar Todas las Secciones del Período #{@cal_semestre_actual_id}"}
		= link_to "", {href: "/sirneim/cal_seccion/eliminar_todas_secciones_actual", class: 'btn btn-danger', data: {confirm: "Se perderá la totalidad de los estudiantes inscritos en las secciones del período #{@cal_semestre_actual_id}. Esta acción es irreversibe, ¿Está seguro de esta acción?"}, method: :delete} do
			%i.icon-list.icon-white
			%i.icon-trash.icon-white

%h3 
	Programaciones:
	%span.badge  
		= radio_button_tag :programaciones, nil, (CalParametroGeneral.programaciones.eql? 'APAGADAS'), onclick: "$.ajax({url: '/sirneim/cal_principal_admin/set_programaciones?id=ENCENDIDAS', dataType: 'json'})"
		Agagadas
	%span.badge.badge-success
		= radio_button_tag :programaciones, nil, (CalParametroGeneral.programaciones.eql? 'ENCENDIDAS'), onclick: "$.ajax({url: '/sirneim/cal_principal_admin/set_programaciones?id=APAGADAS', dataType: 'json'})"
		Encendidas

%h3 Período:
%ul 
	%li= link_to 'Agregar Nuevo Período', {controller: 'cal_semestre', action: 'nuevo'}, class: 'btn'
	%br
	%li
		.input-append
			-if @periodo_anterior
				= text_field_tag 'periodo_anterior', "Período Anterior: #{@periodo_anterior.id}", {id: 'appendedInputButton1', :readonly => true, disabled: true}
			= text_field_tag 'periodo_actual', "Período Actual: #{@periodo_actual.id}", {class: 'span', id: 'appendedInputButton', :readonly => true, disabled: true}
			= link_to "Cambiar", "#", class: 'btn btn-success', :onclick => "return $('#cambiar_periodo_actual').modal();", 'data_toggle' => 'modal'

.modal.hide.fade#cambiar_periodo_actual{tabindex: "-1", role: "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden'=> false}
	.modal-header
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		%h3 Cambiar Periodo Actual
	=form_tag({controller: 'cal_semestre', action: 'cambiar_periodo_actual'}, class: "form-horizontal") do
		.modal-body
			.control-group
				%label.control-label
					Período Actual:  
				.controls	
					= collection_select :cal_semestre, :id, @cal_periodos, :id, :id

			.control-group
				%label.control-label
					Período Anterior:
				.controls	
					= collection_select :cal_semestre_anterior, :id, @cal_periodos, :id, :id					
		.modal-footer
			<a href="#" class="btn">Cerrar</a>
			=submit_tag "Guardar", class: 'btn btn-primary'
