=link_to "Regresar", {:action => 'usuarios'}, {:class => 'btn'}

%h3 Datos Personales
%ul.well.well-small
	%li
		%b Cédula de Identidad:
		= @estudiante.cal_usuario_ci
	%li
		%b Nombre:	
		= @estudiante.cal_usuario.nombre_completo
	%li
		%b Contraseña:
		= @estudiante.cal_usuario.contrasena

%h3 Datos de contacto:
%ul.well.well-small
	%li 
		%b Correo Electrónico:
		= "#{@estudiante.cal_usuario.correo_electronico}" 
	%li 
		%b Teléfono Móvil:
		= "#{@estudiante.cal_usuario.telefono_movil}"
	%li 
		%b Teléfono Habitación:
		= "#{@estudiante.cal_usuario.telefono_habitacion}"

- @accion = action_name
- @controlador = controller_name

%h3 Combinación de Idiomas:
.well.well-small
	= "#{@estudiante.combo_idiomas}"

	%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Editar Idiomas'}		
		= link_to("#", { :class => 'btn btn-success btn-mini', :onclick => "return $('#actualizar_idiomas').modal();", 'data_toggle' => 'modal' }) do
			= content_tag(:i, "", :class => "icon-edit icon-white")

= render :partial => 'cal_estudiante/historial_academico'


= render :partial => 'cal_estudiante/actualizar_idiomas'

:javascript

	$(document).ready(function() {
		$('.tooltip-btn').tooltip();
	});