%h3= link_to "<< Regresar", :back, {class: 'btn'}

.well.well-small
	%h3 
		Datos Personales y de Contacto: 
	
		= link_to "Actualizar", {controller: 'cal_usuario', action: 'editar', ci: @usuario.ci,  controlador: controller_name, accion: action_name}, class: 'btn'
	%h5 Datos Personales: 
	%ul
		%li
			%b Cédula de Identidad:
			= @usuario.ci

			%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Editar'}
				= link_to('javascript:void(0)', {onclick: "return $('#cambiar_cedula').modal();", 'data_toggle' => 'modal'}) do
					= content_tag(:i, "", class: "icon-edit")
			
			= render 'cal_usuario/cambiar_cedula'

		%li
			%b Nombre:	
			= @usuario.nombre_completo
		- if @admin and @admin.super_admin?
			%li
				%b Contraseña:
				= @usuario.contrasena
	%hr

	%h5 Datos de contacto:
	%ul
		%li 
			%b Correo Electrónico:
			= "#{@usuario.correo_electronico}" 
		%li 
			%b Teléfono Móvil:
			= "#{@usuario.telefono_movil}"
		%li 
			%b Teléfono Habitación:
			= "#{@usuario.telefono_habitacion}"

- @accion = action_name
- @controlador = controller_name
- if @estudiante
	.well.well-small
		%h3 Plan de Estudio y Combinaciones de Idiomas:
		= render 'cal_estudiante_tipo_plan/index'
		= render 'combinaciones/index'

	.well.well-small
		= render partial: 'cal_estudiante/historial_academico'

- if @profesor
	.well.well-small
		%h3 Departamento:
		= @profesor.cal_departamento.descripcion

	- @secciones = @profesor.cal_secciones
	- if @secciones.count > 0
		.well.well-small
			%h3= "Secciones (#{@secciones.count}):"
			- @secciones.each do |s| 
				%p= link_to_if (@admin and @admin.super_admin?), s.descripcion, "cal_principal_admin/ver_seccion_admin?id=#{s.id}"

:javascript

	$(document).ready(function() {
		$('.tooltip-btn').tooltip();
	});