%h3= link_to "<< Regresar", :back, {class: 'btn'}

.well.well-small
	%h3 
		Datos Personales y de Contacto: 
	
		= link_to "Actualizar", {controller: 'cal_usuario', action: 'editar', ci: @usuario.ci,  controlador: controller_name, accion: action_name}, class: 'btn'
	%h5 Datos Personales: 
	%ul
		%li
			%b Cédula de Identidad:
			= @usuario.ci
		%li
			%b Nombre:	
			= @usuario.nombre_completo
		- if @admin and @admin.super_admin?
			%li
				%b Contraseña:
				= @usuario.contrasena
	%hr

	%h5 Datos de contacto:
	%ul
		%li 
			%b Correo Electrónico:
			= "#{@usuario.correo_electronico}" 
		%li 
			%b Teléfono Móvil:
			= "#{@usuario.telefono_movil}"
		%li 
			%b Teléfono Habitación:
			= "#{@usuario.telefono_habitacion}"

- @accion = action_name
- @controlador = controller_name
- if @estudiante
	.well.well-small
		%h3 Combinación de Idiomas y Plan:
		#plan_value
			= "#{@estudiante.plan}"
			- if @admin and @admin.super_admin? 
				%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Editar Plan de Estudio'}		
					= link_to('javascript:void(0)', { class: 'btn btn-success btn-mini', :onclick => "$('#plan').show('slow');$('#plan_value').hide('slow'); ", 'data_toggle' => 'modal' }) do
						= content_tag(:i, "", class: "icon-edit icon-white")

		%form.hide.navbar-form#plan{action: '/sirneim/cal_estudiante/actualizar_plan', role: :search}
			= hidden_field_tag :ci, @estudiante.cal_usuario_ci
			= text_field_tag :plan, params[:search],{class: 'span2', placeholder: 'Usuario', required: true, value: @estudiante.plan}
			= submit_tag 'Enviar', class: 'btn btn-primary btn-mini'



		= "#{@estudiante.idioma1.descripcion}" if @estudiante.idioma1 
		= "- #{@estudiante.idioma2.descripcion}" if @estudiante.idioma2 
		%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Editar Idiomas'}		
			= link_to("#", { class: 'btn btn-success btn-mini', :onclick => "return $('#actualizar_idiomas').modal();", 'data_toggle' => 'modal' }) do
				= content_tag(:i, "", class: "icon-edit icon-white")

	.well.well-small
		= render partial: 'cal_estudiante/historial_academico'


	= render partial: 'cal_estudiante/actualizar_idiomas'

- if @profesor
	.well.well-small
		%h3 Departamento:
		= @profesor.cal_departamento.descripcion

	- @secciones = @profesor.cal_secciones
	- if @secciones.count > 0
		.well.well-small
			%h3= "Secciones (#{@secciones.count}):"
			- @secciones.each do |s| 
				%p= link_to_if (@admin and @admin.super_admin?), s.descripcion, "cal_principal_admin/ver_seccion_admin?id=#{s.id}"

:javascript

	$(document).ready(function() {
		$('.tooltip-btn').tooltip();
	});