
.tabbable.tabs-top
	%h5 Seleccione el Departamento:
	%ul.nav.nav-tabs
		- @departamentos.each_with_index do |dep,i|
			-activa = (i.eql? 0) ? "" : ""
			%li{:class => activa}
				= link_to dep.descripcion, "#dep_#{dep.id}", "data-toggle"=> "tab"

	.tab-content.well.well-small
		- @departamentos.each_with_index do |dep,i|
			-activa = (i.eql? 0) ? "" : ""
			.tab-pane{:class => activa, :id => "dep_#{dep.id}"}

				- @catedras = dep.cal_departamentos_categorias.sort_by{|cate| cate.orden}
				.tabbable.tabs-top
					%h5 Seleccione la Cátedra:
					%ul.nav.nav-tabs
						- @catedras.each_with_index do |cat_dep,j|
							- cat = cat_dep.cal_categoria
							-cat_activa = (j.eql? 0) ? "" : ""
							%li{:class => cat_activa}
								= link_to cat.descripcion, "#cat_#{dep.id}_#{cat.id}", "data-toggle"=> "tab"

					.tab-content.well.well-small
						- @catedras.each_with_index do |cat_dep,j|
							- cat = cat_dep.cal_categoria						
							-cat_activa = (j.eql? 0) ? "" : ""
							.tab-pane{:class => cat_activa, :id => "cat_#{dep.id}_#{cat.id}"}

								- @materias = cat.cal_materias.where(:cal_departamento_id => dep.id).sort_by{|m| m.orden}
								.tabbable.tabs-top
									%h5 Seleccione la Asignatura:
									%ul.nav.nav-tabs

										- @materias.each_with_index do |mat,k|
											-mat_activa = (k.eql? 0) ? "" : ""
											%li{:class => mat_activa}
												= link_to mat.descripcion, "#mat_#{mat.id}", "data-toggle"=> "tab"

									.tab-content.well.well-small

										- @materias.each_with_index do |mat,k|
											-mat_activa = (k.eql? 0) ? "" : ""
											.tab-pane{:class => mat_activa, :id => "mat_#{mat.id}"}


												%h3= mat.descripcion
												.well.well-small
													%table.table.table-bordered.table-striped.table-condensed.table-hover
														%thead
															%tr
																%th Sección
																%th Profesor
																%th Estado
																- if @admin and @admin.cal_tipo_admin_id <=2
																	%th Opciones
														%tbody
															- mat.cal_secciones.each do |seccion|
																%tr
																	%td= seccion.numero
																	%td= "#{seccion.cal_profesor.cal_usuario.descripcion}" if seccion.cal_profesor
																	%td
																		-if seccion.calificada
																			%span.label.label-success Calidicada 
																		- else
																			%span.label.label-info Pendiente por calificar

																	- if @admin and @admin.cal_tipo_admin_id <3
																		%td

																			= link_to "Cambiar Profesor calificador", :action => 'seleccionar_profesor', :id => seccion.id
																			|
																			= link_to "Ver Detalle y Calificar", :action => 'ver_seccion_admin', :id => seccion.id
																			-if seccion.calificada
																				|
																				= link_to "Habilitar para Calificar Nuevamente", :action => 'habilitar_calificar', :id => seccion.id
- @cal_usuario = session[:cal_usuario]

-if (@cal_usuario.correo_electronico.blank? or @cal_usuario.telefono_movil.blank? or @cal_usuario.telefono_habitacion.blank?)

	= render :partial => 'cal_usuario/datos_modal'

