%p
	%h3 
		Período Académico: 
		= "#{@cal_semestre_actual.id}"

	- if @admin.cal_tipo_admin_id < 2
		%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Importar Secciones y Estudiantes desde un archivo PDF'}
			= link_to "", {:href => 'cal_principal_admin/importar_secciones_paso1', class: 'btn btn-info'},{role: 'button'} do
				= content_tag(:i, "", class: "icon-file icon-white")
				= content_tag(:i, "", class: "icon-arrow-right icon-white")
				= content_tag(:i, "", class: "icon-list icon-white") 

		%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Clonar Secciones del Período Anterior'}
			= link_to "", {:href => 'cal_seccion/clonar_secciones_anteriores', class: 'btn btn-success'},{role: 'button'} do
				= content_tag(:i, "", class: "icon-retweet icon-white") 
				= content_tag(:i, "", class: "icon-list icon-white") 


		%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Eliminar Todas las Secciones del Período Actual'}
			= link_to "", {:href => 'cal_seccion/eliminar_todas_secciones_actual', class: 'btn btn-danger', 'data_confirm' => "Se perderan los estudiantes inscritos en las secciones, ¿Está seguro de esta acción?"},{role: 'button'} do
				= content_tag(:i, "", class: "icon-trash icon-white") 
				= content_tag(:i, "", class: "icon-list icon-white")


.tabbable.tabs-top
	%h5 Seleccione el Departamento:
	%ul.nav.nav-pills
		- @departamentos.each_with_index do |dep,i|
			-activa = (i.eql? 0) ? "" : ""
			%li{class: activa}
				= link_to dep.descripcion, "#dep_#{dep.id}", "data-toggle"=> "tab"

	.tab-content
		- @departamentos.each_with_index do |dep,i|
			-activa = (i.eql? 0) ? "" : ""
			.tab-pane{class: activa, id: "dep_#{dep.id}"}

				- @catedras = dep.cal_departamentos_categorias.sort_by{|cate| cate.orden}
				.tabbable.tabs-top
					%h5 Seleccione la Cátedra:
					%ul.nav.nav-pills
						- @catedras.each_with_index do |cat_dep,j|
							- cat = cat_dep.cal_categoria
							-cat_activa = (j.eql? 0) ? "" : ""
							%li{class: cat_activa}
								= link_to cat.descripcion, "#cat_#{dep.id}_#{cat.id}", "data-toggle"=> "tab"

					.tab-content
						- @catedras.each_with_index do |cat_dep,j|
							- cat = cat_dep.cal_categoria						
							-cat_activa = (j.eql? 0) ? "" : ""
							.tab-pane{class: cat_activa, id: "cat_#{dep.id}_#{cat.id}"}

								- @materias = cat.cal_materias.where(:cal_departamento_id => dep.id).sort_by{|m| m.orden}
								.tabbable.tabs-left
									%h5 Seleccione la Asignatura:
									%ul.nav.nav-tabs
										- @materias.each_with_index do |mat,k|
											-mat_activa = (k.eql? 0) ? "" : "" 
											-secciones = mat.cal_secciones.where(:cal_semestre_id => @cal_semestre_actual.id)
											
											%li{class: mat_activa}
												-if secciones.count > 0
													= link_to "#mat_#{mat.id}", "data-toggle"=> "tab" do
														= mat.descripcion
														%span.badge.badge-inverse= mat.id_upsi
												-else
													%a.mute
														= mat.descripcion
														%span.label.label-important
															inactiva


									.tab-content
										- @materias.each_with_index do |mat,k|
											-@mat_activa = (k.eql? 0) ? "" : ""
											-@secciones = mat.cal_secciones.where(:cal_semestre_id => @cal_semestre_actual.id)
											-if @secciones.count > 0
												- @mat = mat
												=render partial: 'detalle_seccion'


- @cal_usuario = session[:cal_usuario]

-if (@cal_usuario.correo_electronico.blank? or @cal_usuario.telefono_movil.blank? or @cal_usuario.telefono_habitacion.blank?)

	= render partial: 'cal_usuario/datos_modal'

:javascript

	$(document).ready(function() {
		$('.tooltip-btn').tooltip();
	});