= render :partial => 'cal_usuario/datos_modal'

.tabbable.tabs-top
	%ul.nav.nav-tabs
		- @departamentos.each_with_index do |dep,i|
			-activa = (i.eql? 0) ? "active" : ""
			%li{:class => activa}
				= link_to dep.descripcion, "##{dep.id}", "data-toggle"=> "tab"

	.tab-content
		- @departamentos.each_with_index do |dep,i|
			-activa = (i.eql? 0) ? "active" : ""
			.tab-pane{:class => activa, :id => "#{dep.id}"}
				- @materias = dep.cal_materias.sort_by{|m| m.cal_categoria.orden and m.orden } 
				.tabbable.nav-stacked.tabs-left
					%ul.nav.nav-tabs
						- @materias.each do |materia|
							%li
								= link_to materia.descripcion[0..37], "##{materia.id}", "data-toggle"=> "tab"

					.tab-content
						- @materias.each do |materia|
							.tab-pane{ :id => "#{materia.id}"}
								%h3= materia.descripcion
								.well.well-small
									%table.table.table-bordered.table-striped.table-condensed.table-hover
										%thead
											%tr
												%th Sección
												%th Profesor
												%th Estado
												- if @admin and @admin.cal_tipo_admin_id <=2
													%th Opciones
										%tbody
											- materia.cal_secciones.each do |seccion|
												%tr
													%td= seccion.numero
													%td= "#{seccion.cal_profesor.cal_usuario.descripcion}" if seccion.cal_profesor
													%td
														-if seccion.calificada
															%span.label.label-success Calidicada 
														- else
															%span.label.label-info Pendiente por calificar

													- if @admin and @admin.cal_tipo_admin_id <=2
														%td

															= link_to "Cambiar Profesor calificador", :action => 'seleccionar_profesor', :id => seccion.id
															|
															= link_to "Ver Detalle y Calificar", :action => 'ver_seccion_admin', :id => seccion.id
