.well.well-small

	- if true
		%h5 Exámenes de Reparación y Suficiencia Enero 2019
		%ul
			%li
				= link_to "Planilla Inscripción 2019", controller: 'cal_descargar', action: 'archivo', id: "2019/planilla_inscripcion"
			%li
				= link_to "Instrucciones Inscripciones 2019", controller: 'cal_descargar', action: 'archivo', id: "2019/instrucciones_inscripciones"
			%li
				= link_to "Martes 08 Enero 2019", controller: 'cal_descargar', action: 'archivo', id: "2019/01_RepSuf_Mar_08Ene2019"
			%li
				= link_to "Miércoles 09 Enero 2019", controller: 'cal_descargar', action: 'archivo', id: "2019/01_RepSuf_Mie_09Ene2019"
			%li
				= link_to "Formato de Solicitud", controller: 'cal_descargar', action: 'archivo', id: "2019/formato_solicitud_rep_sufic_201902A"
			%li
				= link_to "Sobre las Inscripciones", controller: 'cal_descargar', action: 'archivo', id: "2019/SOBRE_INSCRIPCION_201902A"

.well.well-small
	= link_to "Secciones", {controller: 'cal_calificar', action: 'seleccionar_seccion'}, class: 'btn'


- @cal_usuario = session[:cal_usuario]

-if (@cal_usuario.correo_electronico.blank? or @cal_usuario.telefono_movil.blank? or @cal_usuario.telefono_habitacion.blank?)

	= render partial: 'cal_usuario/datos_modal'

