<%= form_for(@tipo_plan,url:{action: @accion}) do |f| %>
  <% if @tipo_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_plan.errors.count, "error") %> impiden que el plan sea guardado:</h2>

      <ul>
      <% @tipo_plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id, placeholder: 'G-270', autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion, placeholder: 'Descripción' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
