/ .titulo
/   %h3
/     -unless @estudiante.preinscrito?
/       =link_to "Preinscribirse", :action => "paso1"
/     -else   
/       =link_to "Emitir comprobante", :action => "index"
/   %div Preinscribirse en curso de Octubre - Diciembre 2011
/ .titulo
/   %h3
/     =link_to "Cursos Realizados", :action=> "cursos"
/   %div Consulta el listado de tus Cursos Realizados
 
.tabbable.tabs-left
	%ul.nav.nav-tabs
		%li 
			=link_to "Grupo A", "#grupo_a", "data-toggle"=> "tab"
		%li 
			=link_to "Grupo B", "#grupo_b", "data-toggle"=> "tab"		
		%li 
			=link_to "Sin Grupo", "#sin_grupo", "data-toggle"=> "tab"
	.tab-content
		.tab-pane{:id=>"grupo_a"}
			%table.table.table-striped.table-hover.table-condensed.table-bordered
				%thead
					%th #
					%th Nombre Completo
				%tbody
				- @grupo_a.each_with_index do |inscripcion,i|
					%tr
						%td= i
						%td= inscripcion.estudiante.usuario.nombre_completo
		.tab-pane{:id=>"grupo_b"}
			%table.table.table-striped.table-hover.table-condensed.table-bordered
				%thead
					%th #
					%th Nombre Completo
				%tbody
				- @grupo_b.each_with_index do |inscripcion,i|
					%tr
						%td= i
						%td= inscripcion.estudiante.usuario.nombre_completo

		.tab-pane{:id=>"sin_grupo"}
			%table.table.table-striped.table-hover.table-condensed.table-bordered
				%thead
					%th #
					%th Nombre Completo
				%tbody
				- @sin_grupo.each_with_index do |inscripcion,i|
					%tr
						%td= i
						%td= inscripcion.estudiante.usuario.nombre_completo