%p  
  %b= "Curso:"
  #{@curso}
  %br
  %b= "Nivel:" 
  #{@nivel}
  %br
  %b= "Horario:"
  #{@horario}
  %br
  %b= "Sección:" 
  #{@seccion}
  %br
  %b= "Instructor:" 
  #{@instructor}
  %br
  %h3 Planilla de asistencia
  %p
    %b Leyenda para inasistencias
    %br
    %b NJ:
    No justificó
    %br
    %b SA:
    Salud
    %br
    %b TR:
    Trabajo
    %br
    %b PE:
    Personal
    %br
    %b VA:
    Vacaciones
  -cedula = session[:administrador] ? session[:administrador].usuario_ci : nil
  =form_tag url_for(action: :guardar_asistencia) do
    %table.tablesorter
      %thead
        %tr
          %th Nombre
          %th Cédula
          -primero = 1
          -@historiales.first.asistencia.each do |as|
            -if as.esta_tomada || primero != 1
              -if cedula != "10264009"
                -if as.fecha_asistencia
                  %th{title: "#{as.fecha_asistencia.strftime("%d/%m/%Y")}", class: "tooltip"}= as.clase
                -else
                  %th= as.clase
              -else
                -if as.fecha_asistencia
                  %td
                    = as.clase
                    %br
                    Fecha
                    %br
                    =text_field_tag "fecha_#{as.clase}",nil,class: "datepicker tooltip",size: 1,title: "#{as.fecha_asistencia.strftime("%d/%m/%Y")}", value: "#{as.fecha_asistencia.strftime("%d/%m/%Y")}"
                -else
                  %th= as.clase
            -elsif primero == 1
              -if session[:instructor] || session[:administrador].rol != "VISOR"
                -primero = 2
                %td
                  = as.clase
                  %br
                  Fecha
                  %br
                  =text_field_tag "fecha_#{as.clase}",nil,class: "datepicker",size: 10
              -else 
                %th= as.clase
      %tbody
        -@historiales.each do |hist|
          %tr
            %td= hist.usuario.nombre_completo
            %td= hist.usuario.ci
            -primero = 1
            -hist.asistencia.each do |as|
              -if as.esta_tomada
                -if as.asistencia && cedula != "10264009"
                  %td=image_tag 'visto_bueno.png', size: "20x20"
                -elsif cedula != "10264009"
                  %td
                    =image_tag 'equis.png', size: "20x20"
                    =as.tipo_justificacion_id
                -else
                  -if as.asistencia
                    %td
                      = check_box "asistencia", "#{hist.usuario.ci}_#{as.clase}",:checked => true
                      = collection_select "combo_#{hist.usuario.ci}", "#{as.clase}",@justificaciones, :id, :id
                  -else
                    %td
                      = check_box "asistencia", "#{hist.usuario.ci}_#{as.clase}"
                      = collection_select "combo_#{hist.usuario.ci}", "#{as.clase}",@justificaciones, :id, :id, :selected => as.tipo_justificacion_id
              -elsif primero == 1
                -if session[:instructor] || session[:administrador].rol != "VISOR"
                  -primero = 2
                  %td
                    = check_box "asistencia", "#{hist.usuario.ci}_#{as.clase}"
                    = collection_select "combo_#{hist.usuario.ci}", "#{as.clase}",@justificaciones, :id, :id, :selected => "NJ"
                -else
                  %td
              -else
                %td
        -if session[:instructor] || session[:administrador].rol != "VISOR"
          %tfoot
            %tr
              %td{:colspan => 22}= submit_tag :Guardar,:confirm => "¿Está seguro(a) de guardar la asistencia con estos datos?"
                  