= form_tag action: 'crear' do

  %fieldset
    %legend Datos de Personales
    .control-group
      %label.control-label
        CI:
      .controls
        = text_field :cal_usuario, :ci, class: 'text_field', placeholder: "Cédula de Identidad…", required: true, autofocus: true

    .control-group
      %label.control-label
        Nombres:
      .controls
        = text_field :cal_usuario, :nombres, class: 'text_field', placeholder: "Nombres…", required: true

    .control-group
      %label.control-label
        Apellidos:
      .controls
        = text_field :cal_usuario, :apellidos, class: 'text_field', placeholder: "Apellidos…", required: true

    .control-group
      %label.control-label
        Sexo:
      .controls
        %label.checkbox
          =radio_button :cal_usuario, :cal_tipo_sexo_id, "M", required: true
          Masculino
          |
          =radio_button :cal_usuario, :cal_tipo_sexo_id, "F", required: true
          Femenino
          
    .control-group
      %label.control-label
        Departamento:
      .controls
        =collection_select :cal_profesor, :cal_departamento_id, CalDepartamento.all, :id, :descripcion, {prompt: "-- Seleccione --"}, required: true
  %fieldset
    %legend Datos de Contacto

    .control-group
      %label.control-label
        Correo Electrónico:
      .controls
        = email_field_tag 'cal_usuario[correo_electronico]', nil,{class: 'text_field', placeholder: "Correo Electrónico…"}

    .control-group
      %label.control-label
        Móvil:
      .controls
        = telephone_field_tag 'cal_usuario[telefono_movil]', nil, {class: 'text_field', placeholder: "Teléfono Móvil…"}

    .control-group
      %label.control-label
        Móvil:
      .controls
        = telephone_field_tag 'cal_usuario[telefono_habitacion]', nil, {class: 'text_field', placeholder: "Teléfono Habitación…"}


    .form-actions
      = submit_tag 'Registrar', class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), {controller: 'cal_principal_admin', action:  'usuarios'} , class: 'btn'