- total_ins = total_pre = 0
- @seccion.each do |s|     
  - total_ins += s.inscritos
  - total_pre += s.preinscritos
%p
  Total Inscritos: #{total_ins}

%div.titulo
  Filtrar Contenido:
  =text_field_tag "filtro_particular"
  =#link_to "Generar PDF", :action=>"ver_pdf_secciones", :filtrar => @filtro, :filtrar2 => @filtro2, :filtrar3 => @filtro3
  -if session[:administrador].rol == "VISOR"
    =link_to_function "Generar PDF","aceim.recolectar('ver_pdf_secciones_2','filtrar4')"
  -else
    =link_to_function "Generar PDF","aceim.recolectar('ver_pdf_secciones_2','filtrar4')"
    |
    =link_to_function "Enviar Correo","aceim.recolectar_enviar_correo('datos_enviar_correo','correos')"  
  %br/
  Filtro por Idioma: 
  =collection_select :tipo_curso, :id, @tipos_curso, :id, :descripcion, {:prompt => "-- Todos --", :selected => @filtro}
  %br/
  Filtro por Ubicación: 
  =collection_select :ubicacion, :id, @ubicaciones, :id, :descripcion_corta, {:prompt => "-- Todas --", :selected => @filtro2}
  %br/
  Filtro por Horario: 
  =collection_select :horario, :id, @horarios, :to_s, :to_s, {:prompt => "-- Todos --", :selected => @filtro3}
  %br/
  %div{:style=>"color:red"}
    
    Secciones Cerradas
  %table.tablesorter.tablefilter.likert
    %thead
      %tr
        %th{:width => "5%"}
          INS
        %th{:width => "10%"}
          Idioma
        %th{:width => "15%"}
          Nivel
        %th{:width => "5%"}
          Sec
        %th{:width => "20%"}
          Horario
        %th{:width => "15%"}
          Aula
        %th{:width => "20%"}
          Instructor
        -if (session[:administrador].usuario_ci == "10264009") || (session[:administrador].usuario_ci == "14519813") || (session[:administrador].usuario_ci == "13736933") || (session[:administrador].usuario_ci == "15573230") || (session[:administrador].usuario_ci == "19220025") || (session[:administrador].usuario_ci == "19395140")
          %th{:width => "5%"}
            Opcion

    %tbody
      -@seccion.each do |s|
        -if s.esta_abierta
          -estilo = ""
        -else
          -estilo = "color: red"
        %tr
          %td{:style => "#{estilo}"} 
            .oculto-param{ :style => "display:none;"}
              =s.id
            =s.inscritos
          %td{:style => "#{estilo}"}
            ="#{s.idioma.descripcion} (#{s.tipo_categoria.descripcion})"
          %td{:style => "#{estilo}"}
            =s.tipo_nivel.descripcion
          %td{:style => "#{estilo}"}
            =link_to s.seccion_numero, :action=>"nivel4", :seccion => s
          %td{:style => "#{estilo}"}
            =s.horario
          %td{:style => "#{estilo}"}
            -hor = s.horario_seccion
            -hor = hor.sort_by{|x| x.dia.orden}

            -hor.each do |hs|
              -if session[:administrador].rol == "VISOR"
                -if hs.aula_id
                  ="#{hs.dia_aula}"
                -else
                  ="-- NO ASIGNADA --"
              -else
                -if hs.aula_id
                  =link_to_modal "#{hs.dia_aula}",{:action => "cambiar_aula",:title =>"Modificar Aula",:width=>920, :params => {:seccion_horario => hs, :controlador => controller_name, :accion => action_name}}
                -else
                  =link_to_modal "-- NO ASIGNADA --",{:action => "cambiar_aula",:title =>"Modificar Aula",:width=>920, :params => {:seccion_horario => hs, :controlador => controller_name, :accion => action_name}}
              %br/
          %td{:style => "#{estilo}"}
            -if session[:administrador].rol == "VISOR"
              -if s.instructor
                =s.instructor.descripcion
              -else
                ="-- NO ASIGNADO --"
            -else
              -if s.instructor
                =link_to_modal s.instructor.descripcion,{:action => "cambiar_instructor",:title =>"Modificar Instructor",:width=>700, :params => {:seccion => s, :controlador => controller_name, :accion => action_name}}
              -else
                =link_to_modal "-- NO ASIGNADO --",{:action => "cambiar_instructor",:title =>"Modificar Instructor",:width=>700, :params => {:seccion => s, :controlador => controller_name, :accion => action_name}}
          -if (session[:administrador].usuario_ci == "10264009") || (session[:administrador].usuario_ci == "14519813") || (session[:administrador].usuario_ci == "13736933") || (session[:administrador].usuario_ci == "15573230") || (session[:administrador].usuario_ci == "19220025") || (session[:administrador].usuario_ci == "19395140")
            %td{:style => "#{estilo}"}
              =link_to_modal "Eliminar", {:action => "confirmar_eliminar",:title =>"Eliminar Sección",:width=>700, :params => {:seccion => s, :controlador => controller_name, :accion => action_name}}

%p
  Total Inscritos: #{total_ins}
%p
  =link_to_function "Generar PDF","aceim.recolectar()"
  =#link_to "Generar PDF", :action=>"ver_pdf_secciones", :filtrar => @filtro, :filtrar2 => @filtro2, :filtrar3 => @filtro3
  
