%br/
=link_to "Ver correos", action: "ver_correos"
%br/
%table.tablesorter.tablefilter
  %thead
    %tr             
      %th Nro
      %th Estudiante
      %th Datos de Contacto
      %th Idioma / Nivel
      %th Estado
      %th Observaciones
      %th Opciones
  %tbody
    - @estudiante_nivelaciones.each_with_index do |en,i| 
      %tr
        %td #{i+1}
        %td #{en.usuario.descripcion}
        %td #{en.usuario.datos_contacto}
        %td #{en.tipo_curso.descripcion}  / #{en.tipo_nivel.descripcion}
        %td #{en.estado}
        %td #{en.observaciones}
        %td
          =link_to 'Eliminar', {action: "eliminar", id: en.id}, :confirm => 'Está seguro de eliminar al estudiante?'
          %br/
          %br/
          =link_to 'Inscribir', {action: "inscribir", id: en.usuario_ci, :idioma => en.tipo_curso.id}
= button_to 'Agregar estudiante', action: "new"
%br/
=link_to "Ver correos", action: "ver_correos"
%br/
