- @aprobados = Inscripcion.aprobados_actuales_diplomado_sin_grupo oferta.diplomado_id
.tab-pane{:id=>"#{oferta.diplomado_id}_aprobados", :class => active}

	.span8.well
		%h3 Lista de Aprobados 
		%table.table.table-striped.table-hover.table-condensed.table-bordered
			%thead
				%th #
				%th Nombre Completo
				%th Opciones
			%tbody{:id => "aprobados_#{oferta.diplomado_id}"}
			- @aprobados.each_with_index do |aprobado,i|
				=render "aprobado", :aprobado => aprobado, :asignar => true, :i => i
	- @aprobados = Inscripcion.inscritos_actuales_diplomado oferta.diplomado_id
	- @grupos.each do |grupo|
		- @inscritos_grupo = @aprobados.where(:grupo_id => grupo.id)
		.span4.well.pull.pull-right
			%h3= "Lista del #{grupo.nombre}"
			%table.table.table-striped.table-hover.table-condensed.table-bordered
				%thead
					%th #
					%th Nombre Completo
					%th Opciones
				%tbody{:id => "preinscritos_#{oferta.diplomado_id}"}
				- @inscritos_grupo.each_with_index do |inscrito_grupo,i|
					=render "grupos", :inscrito_grupo => inscrito_grupo, :grupo => grupo, :i => i


