%tr.success{:id => "aprobado_#{aprobado.estudiante_ci}"}
	%td= i
	%td= aprobado.estudiante.usuario.descripcion
	%td
		- if asignar	
			= form_tag url_for(:action => "asignar"), {:class => "form-inline", :style =>"margin-bottom:0;"} do
				.input-append
					=collection_select(:inscripcion, :tipo_forma_pago_id, TipoFormaPago.all, :id, :descripcion, {:prompt=>"Seleccione Tipo de Pago"}, {:class=>'span2', :required => true})

					=collection_select(:inscripcion, :grupo_id, Grupo.all, :id, :descripcion, {:prompt=>"Seleccione grupo"}, {:class=>'span3', :required => true})
					=text_field :inscripcion, :deposito1, :class => "span3", :placeholder => "# Depósito"
					=hidden_field :inscripcion, :estudiante_ci, :value => aprobado.estudiante_ci
					=hidden_field :inscripcion, :id, :value => aprobado.id

					=button_tag (:type => "submit", :class => "btn btn-success", :data => {:toggle => "tooltip"}, "title"=>"Inscribir e incluir al grupo") do
						%i.icon-chevron-right.icon-white

		- else
			= link_to url_for (:action => "desaprobar", :id => aprobado.id), {:class => 'btn btn-danger btn-mini', :data => {:toggle => "tooltip"}, "title"=>"Rechazar participante"} do
				%i.icon-remove.icon-white
		= #form_tag url_for(:action => "aprobar"), :remote => true do
		=#hidden_field_tag :id, preinscrito.id 
		=#submit_tag "aprobar", :class => "btn btn-mini"