- if @admin.cal_tipo_admin_id < 2

	%h4 Planes:
	- TipoPlan.all.each do |plan|		

		%b.tooltip-btn{'data_toggle'=>'tooltip', title: "Descargar Listado Registro Estudiantil por Plan #{plan.id} en el periodo #{@cal_semestre_actual_id}"}
			= link_to "", {:href => "/cal_descargar/listado_estudiantes_x_plan_csv/#{plan.id}", class: "btn btn-success"},{role: 'button'} do
				%i.icon.icon-download.icon-white
				%i.icon.icon-list.icon-white
				= "Plan #{plan.id}"

	%h4 Cita Horaria:
	%b.tooltip-btn{'data_toggle'=>'tooltip', title: "Descargar Cita Horaria del periodo #{@cal_semestre_actual_id}"}
		= link_to "", {:href => "cal_descargar/cita_horaria/#{@cal_semestre_actual_id}", class: "btn btn-success"},{role: 'button'} do
			%i.icon.icon-download.icon-white
			%i.icon.icon-list.icon-white
			= "Excel Cita-Horaria periodo #{@cal_semestre_actual_id}"


