.navbar.navbar-fluid.navbar-static-top{:role=>"navigation"}
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      -if session[:administrador]
        %a.brand{:href => "/aceim_diplomados/principal_admin", :style => ""} Aceim
      .container-fluid.nav-collapse
        %ul.nav
          -if session[:administrador]
            = drop_down "Participantes" do
              %li= link_to "Gestionar Participantes en Diplomados", :controller => "inscripcion_admin", :action => "gestionar"
              %li= link_to_if session[:administrador].rol == "super", "Gestionar Participante Existente", :controller=> "admin_estudiante"
              %li= link_to_if session[:administrador].rol == "super", "Inscribir Participante en Diplomado", :controller=> "inscripcion_admin", :action => "buscar"
              /%li=#link_to "Control de asistencia", :controller=> "asistencia", :action=>"seleccionar_curso"
            = drop_down "Docentes" do
              %li=link_to "Listar Docente", :controller => "docentes"

        %ul.nav
          -if session[:administrador]
            - cohorte_altual = Cohorte.find ParametroGeneral.cohorte_actual
            = drop_down "Diplomados" do
              %li= link_to "Lista de Diplomados", :controller=>"diplomado"
              -if session[:administrador].rol == "super"
                %li= link_to "Nueva Diplomado", :controller=>"diplomado",:action=>"nuevo"
            = drop_down "Cohortes" do
              %li= link_to "Lista de Cohortes", :controller=>"cohorte"
              %li= link_to "Cambiar Cohorte Actual", :controller=>"parametros_generales",:action=>"cambiar_cohorte"
              -if session[:administrador].rol == "super"
                %li= link_to "Nueva Cohorte", :controller=>"cohorte",:action=>"nuevo"

        .nav.pull-right
          - cohorte_altual = Cohorte.find ParametroGeneral.cohorte_actual
          -if session[:usuario]
          
            %li
              %a
                Cohorte Actual:
                %b= "#{cohorte_altual.descripcion }"
            = drop_down "#{session[:usuario].nombre_completo}" do
              %li= link_to "Cambiar Contraseña", :controller=>"usuario", :action=>"contrasena", :controlador=>controller_name, :accion=>action_name 
              %li= link_to "Cambiar Datos Personales", :controller=>"usuario", :action=>"modificar", :controlador=>controller_name, :accion=>action_name 
              = drop_down_divider
              = menu_item "Cerrar sesión", "/aceim_diplomados/inicio/cerrar_sesion"
          -else
            =render 'layouts/cargar_sesion' if (action_name != "registrar")