.navbar.navbar-fluid.navbar-static-top{role:"navigation"}
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      -cohorte_actual = Cohorte.actual  
      -if session[:administrador]
        %a.brand{:href => "/aceim_diplomados/principal_admin", style: ""} Aceim
      .container-fluid.nav-collapse
        %ul.nav
          -if session[:administrador]
            
            = drop_down "Diplomados" do
              %li=link_to "Gestionar Diplomados", controller: "diplomado"
              -if session[:administrador].rol == "super"
                %li= link_to "Registrar Nuevo Diplomado", controller:"diplomado",action:"nuevo"
            
        %ul.nav
          -if session[:administrador]
            = drop_down "Docentes" do
              %li=link_to "Listar Docente", controller: "docentes"

            = drop_down "Participantes" do
              %li= link_to "Gestionar Participantes en Diplomados", controller: "inscripcion_admin", action: "gestionar"
              %li= link_to_if session[:administrador].rol == "super", "Gestionar Participante Existente", controller: "admin_estudiante"
              %li= link_to_if session[:administrador].rol == "super", "Inscribir Participante en Diplomado", controller: "inscripcion_admin", action: "buscar"
              /%li=#link_to "Control de asistencia", controller: "asistencia", action:"seleccionar_curso"

        .nav.pull-right
          -if session[:usuario]
            %li
              = link_to "Cohorte Actual: #{cohorte_actual.descripcion}"
            -if false
              = drop_down "Cohorte Actual: #{cohorte_actual.descripcion}" do
                -if session[:administrador]
                  %li
                    = link_to "", {:data => {:toggle => 'modal'}, :onclick => "return $('#cambiar_cohorte').modal();"} do
                      Cambiar Cohorte


            = drop_down "#{session[:usuario].nombre_completo}" do
              %li= link_to "Cambiar Contraseña", controller:"usuario", action:"contrasena", :controlador=>controller_name, :accion=>action_name 
              %li= link_to "Cambiar Datos Personales", controller:"usuario", action:"modificar", :controlador=>controller_name, :accion=>action_name 
              = drop_down_divider
              = menu_item "Cerrar sesión", "/aceim_diplomados/inicio/cerrar_sesion"
          -else
            =render 'layouts/cargar_sesion' if (action_name != "registrar")

-if session[:administrador]
  #cambiar_cohorte.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-header
      %button.close.fade{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel Modificar Cédula de Identidad
    .modal-body
      -@cohortes = Cohorte.all.sort_by{|x| "#{x.id}"}.reverse()
      -@url_retorno = request.url
      -@modal = true
      =render 'parametros_generales/form_cohorte'
