!!!
%html
  %head
    %title ACEIM - DIPLOMADOS - Escuela de Idiomas Modernos  
    =stylesheet_link_tag  "application"
    =javascript_include_tag "application" 
    =javascript_include_tag controller_name
    <link href="/aceim_diplomados/assets/application.css" media="screen" rel="stylesheet" type="text/css">
    <script src="/aceim_diplomados/assets/application.js" type="text/javascript"></script>
    =javascript_include_tag "/aceim_diplomados/assets/#{controller_name}"    
  %body
    = render 'layouts/banner'
    = render 'layouts/navegacion'
    .contenedor
      = render 'layouts/mensaje'
      .subcontenedor
        =yield
    = render 'layouts/pie'    
    